@import url(pretendard.css);
/************************* 시작 : 태그의 초기화 ***********************/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /* 앞에 도형제거 */
}
/************************* 종료 : 태그의 초기화 ***********************/
/************************* 시작 : 기본스타일 ***********************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260;
    margin: 0 auto;
}
/************************* 종료 : 기본스타일 ***********************/
.global h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 114px 0 29px 0;
}

.global .tit h3{
    font-size: 17px;
    font-weight: 400;
    color: #00b900;
    margin: 12px 0 0 0;
}
.global .tit p{
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    margin: 14px 0 28px 0;
}
.global .tit a{
    font-size: 17px;
    font-weight: 400;
    color: #00b900;
    display: inline-block;
    border: 1px solid #00b900;
    padding: 7px 32px;
    
}

.stickers {
    background: url(../images/line_img2.jpg) no-repeat center center;
    color: #fff;
    height: 660px;
    padding: 15px;
    text-align: center;
}   
.stickers h2{
    font-size: 40px;    
    font-weight: 700;
    color: #ffffff;
    margin: 119px 0 124px 0;
    

}    
.stickers h2{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 119px 0 23px  0;
    text-align: center;
}

.stickers a{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    margin: 7px 32px;
    text-align: center;
}
