/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "Pretendard", sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--font-color-default);
    line-height: var(--line-height-default);/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word; /* 단어가 제한된 넓이보다 길면 강제 줄바꿈*/
}
.wrapper{
    width: var(--wrapper-w);
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;/* header 정렬의 기준 */
}
@media screen and (max-width:1384px){ /*1284 + 50px*/
    .wrapper{
        width: auto;
        margin: 0 var(--wrapper-margin); 
        border: 1px solid red;
    }
} 


/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:root{
    --font-size-default: 17px;
    --font-size-tit: 50px;
    --font-size-subtit:32px;
    --font-size-subtit2: 24px;
    --wrapper-margin: 50px;
    --wrapper-w: 1284px;
    --font-color-default: #231815;
    --font-color-tit: #231815;
    --font-color-g:#ccc;
    --color-main: #6C4B43;
    --color-bg:#FAF9F5;
    --color-wite: #fff;
    --font-weight-default:400px;
    --font-weight-bold: 700;
    --font-weight-tit: 700;
    --line-height-default:1.5;
    --line-height-tit: 1.3;
    --font-family-tit: "Eulyoo";
    --header-h: 100px;
}
@media screen and (max-width:1024px){ /*1284 + 50px*/
        :root{
            --wrapper-margin: 30px;
            --header-h: 56px;
            --font-size-tit: 40px;
            --font-size-subtit:22px;
            --font-size-subtit2: 20px;
        }

} 
@media screen and (max-width:768px){
     :root{ 
            --font-size-default: 16px;
            --font-size-tit: 32px;
            --font-size-subtit:20px;
            --font-size-subtit2: 16px;
            --wrapper-margin: 16px;
            --header-h: 56px;
        }
}
