@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; /* 내가 맨위*/
    width: 100%;
    height: var(--header-h);
    color: #fff;
    fill: #fff;
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .logo a{
    display: block;
    width: max(121px,calc(var(--header-h) * 1.78 ));
    height: max(19px, calc( var(--header-h) * 0.28));
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
@media screen and (min-width:1025px){
    /* .header는 pc의 모바일이 로고빼고 스타일이 완전 달라서 pc버전/모바일 스타일을 
       @mediafh 구분함 min-width:1025px 1025px  이상에만 적용 - pc용
                      max-width:1024px 1024px  이에만 적용 - 모바일용*/
                .header .gnb .gnb_open,
                .header .gnb .gnb_wrap .gnb_logo,
                .header .gnb .gnb_wrap .gnb_close{
                    display: none; /* 모바일에서만 나옴*/
                }
                .header .gnb .gnb_wrap ul.depth1{
                    display: flex;
                }
                .header .gnb .gnb_wrap ul.depth1 > li{
                    position: relative ; /* ul*/
                    min-width: 0; /* 최소 넓이로 0 ->169px 로 부드럽*/
                    transition: 0.3s;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > a{
                    display: block;
                    line-height: var(--header-h);
                    /*행간을*/
                    font-family: var(--font-family-tit);
                    font-size: 22px;
                    padding: 0 25px; /*마우스 오버전에는 메뉴 사이의 여백이 동일*/
                    text-align: center;
                    position: relative; /*애프터 정렬의 기준*/
                }
                .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    z-index: 10;
                    width: 0;
                    height: 3px;
                    background-color: var(--color-main);
                    transition: 0.3s;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                    display: none; /* 2차메뉴 - 무조건 absolute*/
                    position: absolute;
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    height: 282px;
                    text-align: center;
                    padding: 24px 0 0 0;
                    border-right: 1px solid #ccc;
                }
                 .header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2{
                    /*2차 메뉴*/
                    border-left: 1px solid #ccc;
                 } 
                 .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                    display: block;
                    padding: 9px 0;
                 }
                 .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                    color: var(--color-main);
                 }
                 .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span{
                    position: relative;
                 }
                 .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: var(--color-main);
                    transition: 0.3s;
                 }
                 .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
                    width: 100%;
                 }
                .header .uitl{
                    display: flex;
                }
                .header .uitl .search .search_open,
                .header .uitl .mypage{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                }
                .header .gnb .gnb_open,
                .header .gnb .gnb_wrap .gnb_logo,
                .header .gnb .gnb_wrap .gnb_close{
                    display: none; /* 모바일에서만 나옴*/
                }
            
                /* 메뉴에 마우스르 얼럈을 때 mwnu_over*/
                 .header.menu_over{
                    color: var(--font-color-tit);
                    fill: var(--font-color-tit);
                 }  
                .header.menu_over::before{
                    content: "";
                    position: absolute; /*header를 기준으로 정렬*/
                    left: 0;
                    top: 0;
                    z-index: -1; 
                    /*지하 1층  - 기본적으로 position 앏으면 1층 있느먄 2층 부터 시작*/
                    width: 100%;
                    height: 382px;
                    background-color: #fff  ;
                }
                .header.menu_over::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                }
                .header.menu_over .logo a{
                    background-image: url(../images/logo.svg);
                }
                 .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                       min-width: 169px;
                }
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a{
                    color: var(--color-main);
                    font-weight: var(--font-weight-bold);
                }
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a::after{
                    width: 100%;
                }
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                        display: block;
                }
               
}/*@media*/
.header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
    display: none;
}
.header .uitl{
    display: flex;
}
.header .uitl .search .search_open,
.header .uitl .mypage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.visual{
    position: relative; /* ctrl_left 기준*/
}
.visual .swiper-slide{
    /* height: 100vh;
    min-height: 500px; 이렇게 두개를 쓸것을 축약한 버전*/
    height: max(500px, 100vh);
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    padding: 0 var(--wrapper-margin) 175px var(--wrapper-margin);

    display: flex; /*h3와 p랑 아래로 정렬하기 위해서*/
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual_bg3.jpg);
}

.visual .swiper-slide h3{
    font-family: var(--font-family-tit);
    font-size: clamp(40px, 7vw, 80px);
    /*clamp(최소값, 평소값, 최대값)
      clamp(모바일크기, 대충 pc크기 px 기준 1/10 정도의 vw, pc크기)*/
    line-height: var(--line-height-tit);
    margin: 0 0 4px 0;
}
.visual .ctrl_left{
    position: absolute; /* visual를 기준*/
    left: var(--wrapper-margin);
    bottom: 95px;
    z-index: 10;
    color: #fff;
    fill: #fff; /* svg 아이콘 흰색*/
    display: flex;
    gap: 19px;
    align-items: center;
}
.visual .ctrl_left .bar{
    width: 200px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative; /*before 정렬의 기준*/
}
.visual .ctrl_left .bar span{
    content: "";
    position: absolute; /*bar의 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.visual .ctrl_left .play{
    display: none; /*재생버튼을 누르면 나옴*/
}
.visual .ctrl_right{ /*visual를 기준으로 정렬*/
    position: absolute;
    right: var(--wrapper-margin);
    bottom: 77px;
    z-index: 10;
    color: #fff;
    fill: #fff; /* svg 아이콘 흰색*/
    display: flex;
    gap: 6px;
}
.visual .ctrl_right button{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex; /* svg 가운데 배치*/
    align-items: center;
    justify-content: center;
    
}
@media screen and (max-width:768px){
        .visual .swiper-slide{
            height: 500px;
            padding: 32px;
        }
        .visual .ctrl_left,
        .visual .ctrl_right{
            display: none;
        }
}/*@media*/