/*태그의 초기화*/
h1,h2,h3,h4,h5,h6{
   font-size: inherit;
   font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
strong{
    font-weight: inherit;
}
em,address{
    font-style: normal;/*기울어진 글자를 바르게*/
}
button{
    border: none;
    background: none;
    font-family: inherit; /*상속 받으라고*/
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*공통스타일*/
body{
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #3d3d3d;
    line-height: 1.5;/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
}
.wrapper{
    width: 1260px;
    margin: 0 auto;/* 화면에 가운데 정렬 */
}
#wrap{
    /* 1260+30+30 = 1320 */
    min-width: 1320px;

}
@media screen and (max-width:768px){/* 브라우저 넓이가 768 이하일때 */
                body{
                font-size: 16px;
                }
                .wrapper{
                    width: auto;
                    margin: 0 16px;
                }
                #wrap{
                    min-width: 0;
                }
}/*@media*/ /*media 이게 아래에 있어야 우선 순위가 적용됨*/
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}