@import url(default.css);
@import url(pretendard.css);
@import url(common_res.css);

section h2{
    font-size: var(--font-size-tit);
    font-weight:var(--font-weight-tit);
    line-height: var(--line-height-tit);
    color: var(--color-tit);
    margin: 3em 0 1em 0;
    /* em은 지금요소의 글자크기를 1em으로 보고 계산*/

}
/*
        <h2></h2>
        <p></p> 이렇게 코딩된 경우 (즉 p태그가 있는 경우)
*/
section h2 + p{
    margin: 0 0 var(--font-size-tit) 0;
}
/*
       <h2></h2>
       <div class"list"></div> 이렇게 코딩 된 경우 (즉, p태그 없는 경우)
*/
.svg_bg h2 + .list{
    margin: var(--font-size-tit) 0 0 0;
}
.svg_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 5rem;
}
.svg_bg .list .more{
    display: block;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-size: clamp(1.6em, 2.5vw, 3rem); /*글자크기만 rem 단위 사용*/
    font-weight: var(--font-weight-tit);
    /*글자크기는 rem으로 주고 여백등의 다른 다위는 em으로 줌
      현재 */
    border-radius: 1.3333em;
    padding: 0.3333em 2em 0.4333em 1.3667em ;
    position: relative; /* after 정렬의 기준*/
  
}

.svg_bg .list .more::after{
    content: "";
    position: absolute;
    right: 0.9333em;
    top: 0.8em;
    width: 0.6333em;
    height: 0.6333em;
    background: url(../images/icon_more.svg) no-repeat center center / contain;

}
.svg_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
    
}
.svg_bg .list .more:hover::after{
    background-image: url(../images/icon_more_over.svg);
}
.svg_bg .list .lang{
    color: var(--color-main);
    font-size: clamp(1.6em, 2.5vw, 3rem); /*글자크기만 rem 단위 사용*/
    font-weight: var(--font-weight-tit);
    padding: 0 0 0 1.2667em; /*앞에 아이콘 들어갈 자리를 여백으로*/
    position: relative; /*before*/
}   

.svg_bg .list .lang::before{
    content: "";
    position: absolute;
    top: 0.3333em;  
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /*위아래 가운데*/
    width: 0.8333em; /*아이콘 크기*/
    height: 0.8333em;
    background: url(../images/icon_lang.svg) no-repeat center center / contain;
}   
.svg_bg .list .lang:hover{
    color: var(--color-sub);
}
.svg_bg .list .lang:hover::before{
    background-image: url(../images/icon_lang_over.svg);
}
.svg_bg .list .mypage{
    color: var(--color-main);
    font-size: clamp(1.6em, 1.8vw, 2rem); /*글자크기만 rem 단위 사용*/
    font-weight: var(--font-weight-tit);
    padding: 1.4333em 0 0 0;
    position: relative; /*before 정렬의 기준*/
}
.svg_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 1.2667em;
    height: 1.2333em;
    background: url(../images/icon_my.svg) no-repeat center center / contain;
}
.svg_bg .list .mypage:hover{
    color: var(--color-sub);
}
.svg_bg .list .mypage:hover::before{
    background-image: url(../images/icon_my_over.svg);
}
.svg_bg .list .gnb_open{
    width: clamp(55px, 20vw, 86px);
    height: clamp(55px, 20vw, 86px);
    background: #fff  url(../images/icon_menu.svg) no-repeat center center / 70%; /*마지막에 아이콘의*/
    /* 넓이 높이의 몇% -  background 사이즈가*/
}
.svg_bg .list .gnb_open:hover{
    color: var(--color-sub);
}
.svg_bg .list .gnb_open span{
    display: none;
}

.png_bg h2 + .list{
    margin: var(--font-size-tit) 0 0 0;
}
.png_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 5rem;
}
.png_bg .list .more{
    display: block;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-size: clamp(1.6em, 2.5vw, 3rem); /*글자크기만 rem 단위 사용*/
    font-weight: var(--font-weight-tit);
    /*글자크기는 rem으로 주고 여백등의 다른 다위는 em으로 줌
      현재 */
    border-radius: 1.3333em;
    padding: 0.3333em 2em 0.4333em 1.3667em ;
    position: relative; /* after 정렬의 기준*/
  
}

.png_bg .list .more::after{
    content: "";
    position: absolute;
    right: 0.9333em;
    top: 0.8em;
    width: 0.6333em;
    height: 0.6333em;
    background: url(../images/icon_more.png) no-repeat center center / contain;

}
.png_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
    
}
.png_bg .list .more:hover::after{
    background-image: url(../images/icon_more_over.png);
}
.png_bg .list .lang{
    color: var(--color-main);
    font-size: clamp(1.6em, 2.5vw, 3rem); /*글자크기만 rem 단위 사용*/
    font-weight: var(--font-weight-tit);
    padding: 0 0 0 1.2667em; /*앞에 아이콘 들어갈 자리를 여백으로*/
    position: relative; /*before*/
}   

.png_bg .list .lang::before{
    content: "";
    position: absolute;
    top: 0.3333em;  
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /*위아래 가운데*/
    width: 0.8333em; /*아이콘 크기*/
    height: 0.8333em;
    background: url(../images/icon_lang.png) no-repeat center center / contain;
}   
.png_bg .list .lang:hover{
    color: var(--color-sub);
}
.png_bg .list .lang:hover::before{
    background-image: url(../images/icon_lang_over.png);
}
.png_bg .list .mypage{
    color: var(--color-main);
    font-size: clamp(1.6em, 1.8vw, 2rem); /*글자크기만 rem 단위 사용*/
    font-weight: var(--font-weight-tit);
    padding: 1.4333em 0 0 0;
    position: relative; /*before 정렬의 기준*/
}
.png_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 1.2667em;
    height: 1.2333em;
    background: url(../images/icon_my.png) no-repeat center center / contain;
}
.png_bg .list .mypage:hover{
    color: var(--color-sub);
}
.png_bg .list .mypage:hover::before{
    background-image: url(../images/icon_my_over.png);
}
.png_bg .list .gnb_open{
    width: clamp(55px, 20vw, 86px);
    height: clamp(55px, 20vw, 86px);
    background: #fff  url(../images/icon_menu.png) no-repeat center center / 70%; /*마지막에 아이콘의*/
    /* 넓이 높이의 몇% -  background 사이즈가*/
}
.png_bg .list .gnb_open:hover{
    color: var(--color-sub);
}
.png_bg .list .gnb_open span{
    display: none;
}