@import url(pretendard.css);
@import url(common.css);

.biz{
    margin: 100px 0;
}
.biz .group{
    display: flex; /*tit-phㅐto 좌우*/
    justify-content: space-between;
}
 /* .group.art
     group 이라는 크래스명과 art라는 클래스명을 동시에 갖은 요소*/
.biz .group.art{
    flex-direction: row-reverse;
    margin: 101px 0 0 0;
}
.biz .group .tit{
    width: 510px;
}
.biz .group .tit h2{
    color: #67000B;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191E26;
    margin: 13px 0 23px 0;
}
.biz .group .tit .sub_tit strong{
    color: #67000B;
}
.biz .group .tit .btn_wrap{
    margin: 48px 0 0 0;
    display: flex; /*a를 좌우 배치*/
    gap: 6px 6px;
    flex-wrap: wrap; /*여러줄 허용*/
}
.biz .group .tit .btn_wrap a{
    display: block;
    border: 1px solid #67000B;
    color: #67000B;
    padding: 10px 26px;
    border-radius:30px ;
    white-space: nowrap;
    
}
/*a태그 중에서 클래스를 줌 */
.biz .group .tit .btn_wrap a.active{
    background-color: #67000B;
    color: #fff;
}
.biz .group .photo{
    overflow: hidden;
    width: 618px;
    height: 501px;
    border-radius: 20px;
}
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px){/* 브라우저 넓이가 768 이하일때 */
}/*@media*/
                        .biz .group{
                            display: block; /* flex를 해제*/
                            /* justify-content: space-between; --flex 일 때만 적용
                               block 일 때는 적용이 안됨 그래서 냅둬도 상관 x */
                        }
                        .biz .group.art{
                            /* flex-direction: row-reverse;
                              --flex 일 때만 적용 */
                            margin: 84px 0 0 0;
                        }
                        .biz .group .tit{
                            width: auto;
                        }
                    
                        .biz .group .tit .sub_tit{
                            font-size: 28px;
                            margin: 15px 0 15px 0;
                        }
                        .biz .group .tit .btn_wrap{
                            margin: 43px 0 43px          0;
                        }
                        .biz .group .tit .btn_wrap a{
                            padding: 10px 30px;
                            
                        }
                        .biz .group .photo{
                            width: auto;
                            height: 104px;
                            border-radius: 10px;
                        }
                        .biz .group .photo img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

.photo_wrap{
    margin: 100px 0 0;
}      
.photo_wrap h2{
    margin: 50px 0 10px 0;
    font-size: 24px;
    font-weight: 700;
    color: #191E26;
}
.photo_wrap .photo_hfix{
    overflow: hidden;
    border: 2px solid #67000B;
    border-radius: 30px;
    height: 840px;
}
.photo_wrap .photo_hfix img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:768px){
    .photo_wrap .photo_hfix{
        height: 300px;
    }
}/*@media*/
.photo_wrap .photo_resize{
    overflow: hidden;
    border: 2px solid #67000B;
    border-radius: 30px;
    height: 840px;
}
.photo_wrap .photo_resize img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px){
    .photo_wrap .photo_resize{
        height: 300px;
    }
}/*@media*/
.photo_wrap .photo_font{
    overflow: hidden;
    border: 2px solid #67000B;
    border-radius: 30px;
    font-size: 0;
    line-height: 0;
}
.photo_wrap .photo_font img{
    width: 100%;
    /*넓이나 높이만 주면 나머지는 비율에 맞게 따라옴*/
}
.photo_wrap .photo_ali{
    overflow: hidden;
    border: 2px solid #67000B;
    border-radius: 30px;
}
.photo_wrap .photo_ali img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.test img{
    width: 324px;
}
