@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    position: relative; /*scrllo 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100vh; /*브라우저 높이*/
    background: url(../images/visual_bg01.jpg) no-repeat center /cover;
    color: #fff;
    display: flex; /* wrapper 를 아래로 정렬*/
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 144px 0;
}
.visual .scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 52px; /* scroll 아래 여백*/
    z-index: 10;
    font-size: 15px;
    color: #fff;

    /* left: 0;
    bottom: 100;
    transform: translate(-90%); 얘는 맨 오른쪽에 두려고 할 때*/
}
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;
    left: 52px;
    bottom: -25px;
    width: 10%;
    height: 12px;
    background: url(../images/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::before,
.visual .scroll::after{
    animation: scroll1 2s linear  infinite;
}
/* .visual .scroll::after{
    bottom: -25px;
    right: -25px;
}  버튼이 하나 더 있을 경우 이렇게 추가*/

@keyframes scroll1{ /*만약 버튼 두개면 이거 복사 아래에 붙여*/
    0%{bottom: -25px;}
    50%{bottom: -35px;}  /* 제일 멀리가는 값*/
    100%{bottom: -25px;} /*0%로와 같아야 제자리로 돌아옴*/
    
    /* 0%{bottom: -25px;opacity: 1;}
    80%{bottom: -35px;opacity: 1;}
    100%{bottom: -25px;opacity: 0;}  중간에 사라졌다가 생기는 방법*/
}
@media screen and (max-width:768px){
                .visual .swiper-slide h2{
                    font-size: 24px;
                    margin: 0 0 51px 0;
                }
                .visual .scroll {
                    display: none;
                }
           
}
.footer{
    margin: 1000px 0 0 0;
}