@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed; /*body 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100; /* 내가 맨위*/
    width: 100%;
    height: 100px;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
   
}
.header .wrapper{
    display: flex; /* logo-gnb-util 좌우 배치 메뉴*/
    justify-content: space-between;
}
.header .logo{ /*로고 위에 여백 플렉스로도 가능하지만 내맴*/
    margin: 21px 0 0 0;
}
.header .logo a{
    display: block;
    width: 136px;
    height: 44px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* logo 처럼 짤리면 안되는 이미지는 contain*/
}
.header .gnb .gnb_open,
.header .gnb .gnb_close{
    display: none; /*모바일에서만 보임*/
}
.header .gnb .gnb_wap ul{
    display: flex; /*li 좌우 배치*/
}
.header .gnb .gnb_wap ul li a{
    display: block;
    line-height: 100px; /*header 높이 만큼*/
    padding: 0 47px;
    font-size: 20px;
    font-weight: 800;
}
.header .util{
    display: flex; /*마이페이지하고 언어를 좌우 배치*/
    margin: 30px 0 0 0; /*아이콘 위에 여백*/
}
.header .util .mypage{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/mypage_w.svg) no-repeat center center;
    /* 아이콘의 경우 짤리지 않게 contain*/  
}
.header .util .lang .lang_open{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/lang_w.svg) no-repeat center center;
}
/****************fixed / over 클래스가 추가 됐을 떄 (스타일 동일)***************/
.header.fixed,
.header.over{
    background-color: #fff;
    color: #2E3138;
    border-bottom: 1px solid #ccc;
    /* box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 0.1); 
     좌우 위아래 블러*/
}
.header.fixed .logo a,
.header.over .logo a{
    background-image: url(../images/logo.svg);
}
.header.fixed .util .mypage,
.header.over .util .mypage{
    background-image: url(../images/mypage.svg);
}
.header.fixed .util .mypage:hover,
.header.over .util .mypage:hover{
    background-image: url(../images/mypage_on.svg);
}
.header.fixed .util .lang .lang_open,
.header.over .util .lang .lang_open{
    background-image: url(../images/lang.svg);
}
.header.fixed .util .lang .lang_open:hover,
.header.over .util .lang .lang_open:hover{
    background-image: url(../images/lang_on.svg);
}
@media screen and (max-width:768px){
                        .header{
                            height: 56px;
                        }
                        .header .wrapper{
                            margin-right: 0;
                        }
                        .header .logo{ /*로고 위에 여백 플렉스로도 가능하지만 내맴*/
                            margin: 15px 0 0 0;
                        }
                        .header .logo a{
                            width: 81px;
                            height: 26px;
                        }
                        .header .gnb .gnb_open{
                            display: block; /*모바일에서만 보임*/
                            width: 56px;
                            height: 56px;
                            background: url(../images/gnb_open_w.svg) no-repeat center center;
                        }
                        .header .gnb .gnb_wap{
                            display: none; /*li 좌우 배치*/
                        }
                        .header .util{
                            display:none; /*마이페이지하고 언어를 좌우 배치*/
                        }
                        .header.fixed .gnb .gnb_open,
                        .header.over .gnb .gnb_open{
                            background-image: url(../images/gnb_open.svg);
                        }
                       
                     
}/*@media*/
.biz{
    margin: 198px 0 0 0;
}
.biz .wrapper{
    display: flex; /* tit-list 좌우배치 */
    justify-content: space-between;
    align-items: flex-start;
    /* align-items을 안주면 좌우로 들어가는 요소의 높이가 동일해짐
       align-items: flex-start 를 주면 tit과 list 가 각자의 콘텐츠가 존재하는 만큼만 높이가 잡힘*/
}
.biz .tit{
    position: sticky;
    /* 왼쪽에 고정할 요소는 오른쪽의 요소보다 반드시 짧아야 구현이 가능함.
       좌우 배치를 filx로 했다면 반드시 align-items: flex-start를 추가해줘야 함
       감싸는 요소 중에서 단 한개의 요소라도 overflow: hidden; 값을 가지고 있으면 작동하지 않음*/
    top: 110px;
    /* sticky를 주면 대부분 top값만 줌 (left를 주면 도망감)
        맨 상단에서 부터 얼만큼 떨어져서 고정할지 위치값임*/
}
.biz .tit h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    color: #2E3138;
}
.biz .list{
    width: 832px;
}
.biz .list ul{
    display: flex; /*li를 좌우 배치*/
    flex-wrap: wrap; /*2줄 이상 허용*/
    gap: 24px 24px;
}
.biz .list ul li{
    width: calc(50% - 12px);
    /* 100% / 한줄에 나오는 li 갯수 - 한줄의 여백의 합/한줄에 나오는 li 갯수
       100%/2 - 24/2 == 50% - 12 px*/
}

.biz .list ul li:nth-child(even){/* 흡수 odd, 짝수 even*/
    transform: translateY(152px);
    /*margin으로 여백을 주면 다른 요소가 같이 밀림
      transform: translateY 로 조절하면 괜찮음
      transform  은 다른 요소에 영상을 끼치지 않음
        --- 왼쪽에 있는 걸 오른쪽으로 transform 으로 움직이면 겹침.. 밀리지 않음*/
}
.biz .list ul li a{
    display: block;
    height: 476px;
    background: url(../images/biz01.jpg) no-repeat center center / cover;
    color: #fff;
    border-radius: 20px;
    position: relative; /*txt 정렬 기준으로 */
    overflow: hidden; /*p 태그 밖에 나가는 거 막기?*/
}
.biz .list ul li.biz02 a{
    background-image: url(../images/biz02.jpg);
}
.biz .list ul li.biz03 a{
    background-image: url(../images/biz03.jpg);
}
.biz .list ul li.biz04 a{
    background-image: url(../images/biz04.jpg);
}
.biz .list ul li.biz05 a{
    background-image: url(../images/biz05.jpg);
}
.biz .list ul li a::before{
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2250A5;
    opacity: 0;
    transition: 0.3s;
}
.biz .list ul li a .txt{
    /* 마우스 오버 애니메이션을 줄때 밑에서 위로 자연스럽게 올라오면서 
       p태그가 나타남.. - 그래서 a를 기준으로 absolute 줌*/
       position: absolute; /*a를 기준으로*/
       left: 33px;
       bottom: -40px;
       width: calc(100% - 80px); /* 좌우 여백을 합 빼기*/
       transition: bottom 0.3s;
}
.biz .list ul li a .txt h3{
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 10px 0;
}
.biz .list ul li a .txt p{
    opacity: 0;
    transition: 0.3s;
}
/**over 했을 때**/
.biz .list ul li a:hover::before{
    opacity: 0.9;
}
.biz .list ul li a:hover .txt{
    bottom: 50px;
}
.biz .list ul li a:hover .txt p{
    opacity: 1;
}
@media screen and (max-width:768px){
                        .biz{
                            margin: 108px 0 0 0;
                        }
                        .biz .wrapper{
                            display: block; /* flex 해제 */
                        }
                        .biz .tit{
                            position: relative; /*sticky 해제 - 제일 멀쩡한 값*/
                            top: auto; /*0이랑 다름 - 아예 안준 것 처럼 됨*/
                        }
                        .biz .tit h2{
                            font-size: 24px;
                        }
                        .biz .tit h2 br{
                            display: none; /*줄바꿈 삭제*/
                        }
                        .biz .list{
                            width: auto;
                            margin: 31px 0 0 0;
                        }
                        .biz .list ul{
                            flex-wrap: nowrap; /*2줄 이상 허용 안함*/
                            flex-direction: column;
                            gap: 16px 0;
                        }
                        .biz .list ul li{
                            width: auto;
                        }
                        
                        .biz .list ul li:nth-child(even){/* 흡수 odd, 짝수 even*/
                            transform: translateY(0);
                        }
                        .biz .list ul li a{
                            height: 161px;
                            background-position: center top;
                        }
                        .biz .list ul li a::before{
                            display: none;
                        }
                        .biz .list ul li a .txt{
                            left: 17px;
                            bottom: 16px;
                            width: calc(100% - 70px); /* 좌우 여백을 합 빼기*/
                        }
                        .biz .list ul li a .txt::after{
                            content: "";
                            position: absolute;
                            right: -24px;
                            top: 0;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background: #fff url(../images/biz_more.svg) no-repeat center center;
                        }
                        .biz .list ul li a .txt h3{
                            font-size: 24px;
                            margin: 0;
                        }
                        .biz .list ul li a .txt h3 br{
                            display: none; /*줄 바꿈 삭제*/
                        }
                        .biz .list ul li a .txt p{
                            display: none;
                        }
                        /**hover 했을 때**/
                        .biz .list ul li a:hover .txt{
                            bottom: 16px;
                        }
}/*@media */
.visual{
    position: relative; /*scrllo 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100vh; /*브라우저 높이*/
    min-height: 500px;
    background: url(../images/visual_bg01.jpg) no-repeat center /cover;
    color: #fff;
    display: flex; /* wrapper 를 아래로 정렬*/
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 144px 0;
}
.visual .scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 52px; /* scroll 아래 여백*/
    z-index: 10;
    font-size: 15px;
    color: #fff;

    /* left: 0;
    bottom: 100;
    transform: translate(-90%); 얘는 맨 오른쪽에 두려고 할 때*/
}
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;
    left: 52px;
    bottom: -25px;
    width: 10%;
    height: 12px;
    background: url(../images/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::before,
.visual .scroll::after{
    animation: scroll1 2s linear  infinite;
}
/* .visual .scroll::after{
    bottom: -25px;
    right: -25px;
}  버튼이 하나 더 있을 경우 이렇게 추가*/

@keyframes scroll1{ /*만약 버튼 두개면 이거 복사 아래에 붙여*/
    0%{bottom: -25px;}
    50%{bottom: -35px;}  /* 제일 멀리가는 값*/
    100%{bottom: -25px;} /*0%로와 같아야 제자리로 돌아옴*/
    
    /* 0%{bottom: -25px;opacity: 1;}
    80%{bottom: -35px;opacity: 1;}
    100%{bottom: -25px;opacity: 0;}  중간에 사라졌다가 생기는 방법*/
}
@media screen and (max-width:768px){
                .visual .swiper-slide h2{
                    font-size: 24px;
                    margin: 0 0 51px 0;
                }
                .visual .scroll {
                    display: none;
                }
           
}
.new{
    background-color: #F5F5F5;
    margin: 162px 0 0 0;
    padding: 111px 0 111px 0;
}
.new .wrapper{
    position: relative; /*more 정렬의 기준*/
}
.new .tit h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    color: #2E3138;
}
.new .list{
    margin: 32px 0 0 0;
}

/*
     <ul>
        <li></li>     --- (x) 만 위에 있는 li라 해당 사항 없음
        <li></li>     ---(o) 위에 li가 있고 다음에 나오는li라 li + li 선택가능
        <li></li>     --- (o) 선택가능
        <li></li>     ---(o) 선택가능
     </ul>
*/
.new .list ul li+li{
    margin-top: 6px;
}

.new .list ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px 18px 40px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
}
.new .list ul li a:hover{
    background-color: #4E6187;
    color: #fff;
}
.new .list ul li a strong{
    background-color: #1F3D7B;
    color: #fff;
    padding: 4px 15px 4px 15px;
    border-radius: 10px;
}
.new .list ul li.sch a strong{
    background-color: #2250A5;
}
.new .list ul li a h3{
    font-size: 20px;
    font-weight: 400;
    color: #2E3138;
    width: calc(100% - 212px);
    /*84 + 130 = 214
     한줄제한 */
     white-space: nowrap;
     overflow: hidden;
}
.new .list ul li a:hover h3{
    color: #fff;
}
.new .more{
    position: absolute; /* wrapper를 기준으로 정렬*/
    right: 13px;
    top: 14px;
}
.new .more a{
    display: block;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    padding: 2px 33px 2px 15px;
    position: relative; /*after 정렬의 기준*/
}
.new .more a:hover{
    border-color: #2250A5;
    background-color: #2250A5;
    color: #fff;
}
.new .more a::after{
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    right: 14px;
    top: 8px;
    width: 12px; /*아이콘 사이즈*/
    height: 12px;
    background: url(../images/more.svg) no-repeat center center / contain;
    transition: transform 1s;
}
.new .more a:hover::after{
    background-image: url(../images/more_w.svg);
    transform: rotate(360deg);
}
@media screen and (max-width:768px){
                    .new{
                        margin: 79px 0 0 0;
                        padding: 127px 0 89px 0;
                    }
                    .new .tit h2{
                        font-size: 24px;
                        margin: 6px 0 0 0;
                    }
                    .new .list{
                        margin: 34px 0 0 0;
                    }
                    .new .list ul li{
                       border-bottom: 1px solid rgba(204, 204, 204, 0.8);
                    }
                    .new .list ul li:first-child{
                        border-top  : 1px solid rgba(204, 204, 204, 0.8);
                    }
                    .new .list ul li+li{
                        margin-top: 0;
                    }
                    .new .list ul li a{
                        padding: 10px 0 10px 0;
                        background-color: transparent; /*transparent 투명하게*/
                        border: none;
                        box-shadow: none;
                    }
                    .new .list ul li a:hover{
                        background-color: transparent;
                        color: inherit;
                    }
                    .new .list ul li a strong{
                        display: none; /*모바일에서 숨김*/
                    }
                    .new .list ul li a h3{
                        font-size: 16px;
                        width: calc(100% - 106px);
                    }
                    .new .list ul li a:hover h3{
                        color: inherit;
                    }
                    .new .more{
                        position: relative ; /* absolute 해제*/
                        right: auto; /* 아예 안준것 처럼 해제*/
                        top: auto;
                        margin: 18px 0 0 0;
                        display: flex;
                        justify-content: center;
                    }
                    .new .more a{
                        padding: 1px 29px 1px 15px;
                        background-color: #2250A5;
                        color: #fff;
                    }
                    .new .more a::after{
                        right: 14px;
                        top: 8px;
                        width: 12px; /*아이콘 사이즈*/
                        height: 12px;
                        background: url(../images/more_w.svg) no-repeat center center / contain;
                    }
                  
}/*@media*/
.webzine{
    background-color: rgba(34, 80, 165, 0.7);
    color: #fff;
    padding: 164px 0 158px 0;
}
.webzine .wrapper{
    position: relative;
}
.webzine .tit strong{   
    color: #fff;
}
.webzine .tit h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 10px 0 0 0;
}
.webzine .list{
    margin: 45px 0 0 0;
}
.webzine .list .swiper-slide a{
    display: block;
    background-color: #fff;
    color: #515662;
    border-radius: 20px; 
}
.webzine .list .swiper-slide a .photo{
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    height: 232px;
}
.webzine .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;   
}
.webzine .list .swiper-slide a:hover .photo img{ /*hover는 여기에.. */
    transform: scale3d(1.125, 1.125, 1);
}
.webzine .list .swiper-slide a .txt{
    padding: 41px 36px 44px 45px;
}
.webzine .list .swiper-slide a .txt strong{
    font-weight: 800;
    color: #2250A5;
    display: block;
    /*한줄 제한*/
    white-space: nowrap;
    overflow: hidden;  
}
.webzine .list .swiper-slide a .txt h3{
    font-size: 20px;
    font-weight: 800;
    color: #2E3138;
    margin: 4px 0 17px 0;
    line-height: 1.3;
    height: 2.6em; /*행간 * 줄수 = 단위 em*/
    overflow: hidden;

    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*두줄*/
}
.webzine .list .swiper-slide a .txt p{
    line-height: 1.5;
    height: 4.5em; /*행간 * 줄수 = 단위 em*/
    overflow: hidden;

    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /*세줄*/
}
.webzine .ctrl_wrap{
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex; /* prey-next-more 좌우로 정렬*/
    gap: 0 6px;
}
.webzine .ctrl_wrap button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: url(../images/prev1.svg) no-repeat center center;
    
}
/* .webzine .ctrl_wrap button:hover{  
    마우스 오버 했을 때 그리고 hover:not(.swiper-button-disabled) 넣으면 오버할 때 백그라운드 색 안나옴
    border-color: #fff;
    background-color: #fff;
    background-image: url(../);
} */
.webzine .ctrl_wrap button.prev{
    transform: rotate(180deg);
}
.webzine .ctrl_wrap button.swiper-button-disabled{
    opacity: 0.5;
    cursor: default; /*마우스 손바닥모양 안 나오게*/
}
.webzine .ctrl_wrap button .more{
    margin: 0 0 0 6px;
}
.webzine .ctrl_wrap .more a{
    display: block;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 4px 36px 0 16px;
    position: relative; /*after 정렬의 기준*/
}
/* .webzine .ctrl_wrap .more a:hover{
    얘도 오버했을 때
} */
.webzine .ctrl_wrap .more a::after{
    content: "";
    position: absolute;
    right: 16px;
    top: 9px;
    width: 12px; /*아이콘사이즈*/
    height: 12px;
    background: url(../images/more_w.svg) no-repeat center center / contain;
}
/* .webzine .ctrl_wrap .more a:hover::after{
    background-image: url(../); 이건 오버 했을 때 플러스 이모티콘 변경
    transform: rotate(360deg);
} */
@media screen and (max-width:768px){
                        .webzine{
                            padding: 92px 0 86px 0;
                        }
                        .webzine .tit h2{
                            font-size: 24px;
                        }
                        .webzine .list{
                            margin: 8px 0 0 0;
                        }
                        .webzine .list .swiper-slide{
                            width: 250px;
                        }
                        .webzine .list .swiper-slide a{
                            border-radius: 10px; 
                        }
                        .webzine .list .swiper-slide a .photo{
                            border-radius: 10px 10px 0 0;
                            height: 155px;
                        }
                        .webzine .list .swiper-slide a .txt{
                            padding: 18px 16px 33px 15px;
                        }
                        .list .swiper-slide a .txt h3{
                            font-size: 20px;
                            margin: 4px 0 17px 0;
                        }
                        .webzine .ctrl_wrap{
                            position: relative; /*absolute 해제*/
                            right: auto;
                            top: auto;
                            justify-content: center;
                            margin: 22px 0 0 0;
                        }
                        .webzine .ctrl_wrap button{
                           display: none;
                        }
                        .webzine .ctrl_wrap .more a{
                            height: 26px;
                            border: 1px solid #fff;
                            padding: 1px 29px 0 15px;
                        }
                        .webzine .ctrl_wrap .more a::after{
                            right: 11px;
                            top: 8px;
                            width: 10px; /*아이콘사이즈*/
                            height: 10px;
                            background: url(../images/more_w.svg) no-repeat center center / contain;
                        }
}/*@media*/

.service{
    margin: 114px 0 101px 0 ;
}
.service .tit strong{
    font-weight: 800;
    color: #2250A5;
}
.service .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    color: #2E3138;
    margin: 10px 0 0 0;
}
.service .list{
    margin: 32px 0 0 0;
}  
.service .list ul{
    display: flex; /*li를 좌우 배치*/
    justify-content: space-between;
}  
.service .list ul li{
    width: calc(33.33% - 16px) ;
    /*
        100% / 한줄에보이는li갯수 - 한줄의여백의합 / 한줄에보이는li갯수
        100% / 3 - (24+24) / 3
        33.33% - 16px
    */
}
.service .list ul li a{
    display: block;
    background-color: rgba(34, 80, 165, 0.1);
    padding: 25px 0 31px 40px;
    position: relative; /*after 정렬의 기준*/
}
.service .list ul li a:hover{
    background-color: rgba(31, 61, 123, 0.3);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.25);
}
.service .list ul li a::after{
    content: ""; /*필수값*/
    position: absolute;
    right: 25px;
    top: 41px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff url(../images/more_b.svg) no-repeat center center / 10px;
}
/* .service .list ul li a::after{ 오버햇을 때 변하는 거
    background-color: ;
    transition: transform 1s;
} */
.service .list ul li a strong{
    font-weight: 400;
    color: #2250A5;
}
.service .list ul li a h3{
    font-size: 20px;    
    font-weight: 800;
    line-height: 1.3;
    color: #2E3138;
}
@media screen and (max-width:768px){
                        .service{
                            margin: 71px 0 104px 0 ;
                        }
                        .service .tit h2 {
                            font-size: 24px;
                            margin: 6px 0 0 0;
                        }
                        .service .list{
                            margin: 29px 0 0 0;
                        }  
                        .service .list ul{
                           flex-direction: column;
                           gap: 14px 0;
                        }  
                        .service .list ul li{
                            width: auto;
                        }
                        .service .list ul li a{
                            padding: 7px 40px 12px 40px;
                        }
                        .service .list ul li a::after{
                            right: 27px;
                            top: 21px;
                            width: 26px;
                            height: 26px;
                            border-radius: 50%;
                            background-size: 11px;
                        }
                        .service .list ul li a h3{
                            font-size: 20px;    
                            font-weight: 800;
                            line-height: 1.3;
                            color: #2E3138;
                        }
}/*@media*/
.footer{
    padding: 239px 0 0 0;
}
.footer .wrapper{
    position: relative; /*top 정렬의 기준*/
}
.footer .top{
    position: absolute; /**/
    right: 0;
    top: -103px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #A8BFE8 url(../images/prev2.svg) no-repeat center center;
}
/* .footer .top:hover{
    background-color: #fff;
    background-image: url(../);
} */

.footer .f_nav ul{
    display: flex; /* li를 좌우 배치 */
    gap: 6px     35px;
    flex-wrap: wrap; /* 여러줄 허용*/
}
.footer .f_nav ul li{
    position: relative; /* after 정렬의 기준*/
}
.footer .f_nav ul li.imp{
    color: #2E3138;
    font-weight: 800;
}
.footer .f_nav ul li::after{
    content: ""; /*afrer/before 필수값*/
    position: absolute;
    right: -17px;
    top: 6px;
    width: 1px;
    height: 12px;
    background-color: rgba(204, 204, 204, 0.8);
}
.footer .f_nav ul li:last-child::after{
    display: none;
}
.footer .f_info{
    margin: 33px 0;
    display: flex;
    flex-wrap: wrap; /* 두줄허용*/
    gap: 0;
}
@media screen and (max-width:768px){    
                        .footer{
                            padding: 173px 0 0 0;
                        }
                     
                        .footer .top{
                            top: -70px;
                        }
                        
                        .footer .f_info{
                            margin: 32px 0;
                        }

}/*@media*/