@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(common.css);

.header{
    height: 100px;
    display: flex; /* logo - gnb 좌우*/
    justify-content: space-between;
    margin: 0 40px 0 50px;
}
.header .logo{
    margin: 15px 0 0 0;
}
.header .gnb ul{
    display: flex; /* li좌우qocl*/
}
.header .gnb ul li a{
    display: block;
    line-height: 100px; /*header 높이랑 동일하게*/
    font-size: 20px;
    font-weight: 700;
    color: #191e26;
    padding: 0 22px;
}
.header .gnb ul li a:hover{
    color: #67000B; /* a에 마우스를 올렸을 때 색이 바뀜*/
}
.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center /cover;
    color: #fff;
    height: 800px; 
    margin: 0 40px;
    border-radius: 30px; /*사진에 라운드 넣기*/
}
.visual .wrapper{
    padding: 0 0 0 40px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 344px 0 10px 0;
}
/* sr-only,blind,sikp 란 html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는 태그에 주는 클래스*/
.sr-only, .sikp .blind{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.biz{
    margin: 143px 0 106px 0;
}
.biz .art{
    margin: 146px 0 0 0;
}
/* music, atr 하고 모두에 스타일이 적용됨 */
.biz .group{
    display: flex; /* tit-photo */
    justify-content: space-between;
}
.biz .group .tit{
    width: 511px;
}
.biz .group .tit h3{
    color: #67000B;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #191E26;
    line-height: 1.3;
    margin: 10px 0 15px 0;
}
/* strong을 넣었던 곳을 불러와 포인트 색을 넣을 수 있음 */
.biz .group .tit .sub_tit strong{
    color: #67000B;
}
.biz .group .tit .btn_wrap{
    display: flex; /*a를 좌우배치 */
    margin: 66PX 0 0 0;
    gap: 6px 6px;
    /* flex 으로 정렬된 a 사이의 여백
    위아래여백-좌우의 여백 */
    flex-wrap: wrap; /* flex 정렬되는 a가 두줄로 정렬되는 것을 허락 */
}
/* btn_wrap에 있는 a를 따로 컬러를 주기 위해서는 btn_wrap 묶음을 먼저 그 뒤로 active에 적용시켜야됨 순서 중요 */
.biz .group .tit .btn_wrap a{
    display: block;
    color: #67000B;
    border: 1px solid #67000B;
    padding: 10px 43px;
    border-radius: 30px;
}
/*  <a></a>
    <a></a>
    <a class"active"></a> 
    a.active라는 선택자는 a들 중에서 active 클래스가 있는 a를 뜻함

    a .active 이렇게 띄어쓰기를 하면
    <a> <a strong class"active"></strong> </a> 
    이런식으로 a안에 active 클래스가 별도로 있는 것을 이야기함 */
.biz .group .tit .btn_wrap a.active{
    background-color: #67000B;
    color: #fff;

}
.biz .group .tit .btn_wrap a:hover{
    background-color: #F0E6E7;
    font-weight: 700;
}
.biz .group .tit .btn_wrap a.active:hover{
    color: #67000B;
}

/*사진이 위로 높거나 옆으로 넓을 경우에 사용하는 방법*/
.biz .group .photo{
    width: 618px;
    height: 487px;
    overflow: hidden ;
    border-radius: 20px;
}
/*object-fit: cover; 이미지가 안에 좀 더 들어와서 사진을 좀 더 보여줄 수 있도록 하는 방법
  object-fit: contain; 이미지 영역이 정해져 있지만 무슨 사진을 올릴 줄 모르는 상황에 사진이 잘릴 수 있음에 사용하는 */
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.community{
    background: url(../images/community_bg.jpg) no-repeat center top;
    color: #fff;
}
.community .notice{
    padding: 179px 0 434px 0;
    display: flex;
    justify-content: space-between;
}
.community .notice .tit h3{
    color: #fff;
    font-weight: 700;
}
.community .notice .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 11px 0 0 0;
}
.community .notice .list{
    width: 776px;
}
.community .notice .list ul li{
    border-bottom: 1px solid rgba(225, 225, 225, 0.2);
}
/*li:first-child li 중에 첫번째 li 라는 뜻 */
.community .notice .list ul li:first-child{
    border-top: 1px solid rgba(225, 225, 225, 0.2);
}
.community .notice .list ul li a{
    display: flex; /*h4-span 좌우배치*/
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}
.community .notice .list ul li a:hover{
    color: #FCF0D6;
}
.community .notice .list ul li a h4{
    font-size: 17px;
    font-weight: 700;
}
.community .notice .list ul li a span{
    color: rgba( 255, 255, 255, 0.8);
}
.community .notice .list ul li a a:hover span{
    color: #FCF0D6;
}
.footer{
    margin: 0 0 500px 0;
    
}