/*layout.css
 header/  처럼 모든 페이지에 들어가는 요소*/

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: clamp(56px, 10vw, 100px);
    color: #fff;
    border-bottom: 1px solid #CCCCCC;
    opacity: 1;
    transition: opacity 0.3s;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo a{
    display: block;
    width: clamp(80px, 14vw, 140px);
    height: clamp(19px, 3.3vw, 33px);
    background: url(../images/common/logo_w.svg) no-repeat left center / contain;
}
.header[data-bg="white"]{
    color: #1d1d1d;
    

}
.header[data-bg="white"] .logo a{
    background-image: url(../images/common/logo.svg);
}
.header[data-bg="none"]{
    opacity: 0;
}
@media screen and (min-width:1025px){
        .header .gnb .gnb_open{
            display: none;
        }
        .header .gnb .gnb_wrap ul.dpeth1{
            display: flex; /*li좌우배치*/
        }
        .header .gnb .gnb_wrap ul.dpeth1 > li > a{
            display: block;
            line-height: 100px;
            font-size: 20px;
            font-weight: 800;
            padding:  0 26px;
        }
        .header .util{
            display: flex;
        }
        .header .util .mypage{
            display: block;
            width: 40px;
            height: 43px;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.79219 8.95781C5.76406 7.92969 5.25 6.69375 5.25 5.25C5.25 3.80625 5.76406 2.57031 6.79219 1.54219C7.82031 0.514063 9.05625 0 10.5 0C11.9438 0 13.1797 0.514063 14.2078 1.54219C15.2359 2.57031 15.75 3.80625 15.75 5.25C15.75 6.69375 15.2359 7.92969 14.2078 8.95781C13.1797 9.98594 11.9438 10.5 10.5 10.5C9.05625 10.5 7.82031 9.98594 6.79219 8.95781ZM0 21V17.325C0 16.5812 0.191406 15.8977 0.574219 15.2742C0.957031 14.6508 1.46563 14.175 2.1 13.8469C3.45625 13.1687 4.83437 12.6602 6.23438 12.3211C7.63438 11.982 9.05625 11.8125 10.5 11.8125C11.9438 11.8125 13.3656 11.982 14.7656 12.3211C16.1656 12.6602 17.5438 13.1687 18.9 13.8469C19.5344 14.175 20.043 14.6508 20.4258 15.2742C20.8086 15.8977 21 16.5812 21 17.325V21H0ZM2.625 18.375H18.375V17.325C18.375 17.0844 18.3148 16.8656 18.1945 16.6687C18.0742 16.4719 17.9156 16.3188 17.7188 16.2094C16.5375 15.6188 15.3453 15.1758 14.1422 14.8805C12.9391 14.5852 11.725 14.4375 10.5 14.4375C9.275 14.4375 8.06094 14.5852 6.85781 14.8805C5.65469 15.1758 4.4625 15.6188 3.28125 16.2094C3.08437 16.3188 2.92578 16.4719 2.80547 16.6687C2.68516 16.8656 2.625 17.0844 2.625 17.325V18.375ZM12.3539 7.10391C12.868 6.58984 13.125 5.97188 13.125 5.25C13.125 4.52812 12.868 3.91016 12.3539 3.39609C11.8398 2.88203 11.2219 2.625 10.5 2.625C9.77812 2.625 9.16016 2.88203 8.64609 3.39609C8.13203 3.91016 7.875 4.52812 7.875 5.25C7.875 5.97188 8.13203 6.58984 8.64609 7.10391C9.16016 7.61797 9.77812 7.875 10.5 7.875C11.2219 7.875 11.8398 7.61797 12.3539 7.10391Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center center;
        }

        .header .util .search{
            display: block;
            width: 40px;
            height: 43px;
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.13656 16.2731C5.86249 16.2731 3.93788 15.4855 2.36273 13.9104C0.787577 12.3352 0 10.4106 0 8.13656C0 5.86249 0.787577 3.93788 2.36273 2.36273C3.93788 0.787577 5.86249 0 8.13656 0C10.4106 0 12.3352 0.787577 13.9104 2.36273C15.4855 3.93788 16.2731 5.86249 16.2731 8.13656C16.2731 9.05453 16.1271 9.92034 15.835 10.734C15.5429 11.5477 15.1465 12.2674 14.6458 12.8933L21.6558 19.9033C21.8853 20.1328 22 20.4248 22 20.7795C22 21.1342 21.8853 21.4263 21.6558 21.6558C21.4263 21.8853 21.1342 22 20.7795 22C20.4248 22 20.1328 21.8853 19.9033 21.6558L12.8933 14.6458C12.2674 15.1465 11.5477 15.5429 10.734 15.835C9.92034 16.1271 9.05453 16.2731 8.13656 16.2731ZM8.13656 13.7696C9.70128 13.7696 11.0313 13.2219 12.1266 12.1266C13.2219 11.0313 13.7696 9.70128 13.7696 8.13656C13.7696 6.57183 13.2219 5.24182 12.1266 4.14651C11.0313 3.05121 9.70128 2.50356 8.13656 2.50356C6.57183 2.50356 5.24182 3.05121 4.14651 4.14651C3.05121 5.24182 2.50356 6.57183 2.50356 8.13656C2.50356 9.70128 3.05121 11.0313 4.14651 12.1266C5.24182 13.2219 6.57183 13.7696 8.13656 13.7696Z' fill='white'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: center center;
        }
        .header[data-bg="white"] .util .mypage{
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.79219 8.95781C5.76406 7.92969 5.25 6.69375 5.25 5.25C5.25 3.80625 5.76406 2.57031 6.79219 1.54219C7.82031 0.514063 9.05625 0 10.5 0C11.9438 0 13.1797 0.514063 14.2078 1.54219C15.2359 2.57031 15.75 3.80625 15.75 5.25C15.75 6.69375 15.2359 7.92969 14.2078 8.95781C13.1797 9.98594 11.9438 10.5 10.5 10.5C9.05625 10.5 7.82031 9.98594 6.79219 8.95781ZM0 21V17.325C0 16.5812 0.191406 15.8977 0.574219 15.2742C0.957031 14.6508 1.46563 14.175 2.1 13.8469C3.45625 13.1687 4.83437 12.6602 6.23438 12.3211C7.63438 11.982 9.05625 11.8125 10.5 11.8125C11.9438 11.8125 13.3656 11.982 14.7656 12.3211C16.1656 12.6602 17.5438 13.1687 18.9 13.8469C19.5344 14.175 20.043 14.6508 20.4258 15.2742C20.8086 15.8977 21 16.5812 21 17.325V21H0ZM2.625 18.375H18.375V17.325C18.375 17.0844 18.3148 16.8656 18.1945 16.6687C18.0742 16.4719 17.9156 16.3188 17.7188 16.2094C16.5375 15.6188 15.3453 15.1758 14.1422 14.8805C12.9391 14.5852 11.725 14.4375 10.5 14.4375C9.275 14.4375 8.06094 14.5852 6.85781 14.8805C5.65469 15.1758 4.4625 15.6188 3.28125 16.2094C3.08437 16.3188 2.92578 16.4719 2.80547 16.6687C2.68516 16.8656 2.625 17.0844 2.625 17.325V18.375ZM12.3539 7.10391C12.868 6.58984 13.125 5.97188 13.125 5.25C13.125 4.52812 12.868 3.91016 12.3539 3.39609C11.8398 2.88203 11.2219 2.625 10.5 2.625C9.77812 2.625 9.16016 2.88203 8.64609 3.39609C8.13203 3.91016 7.875 4.52812 7.875 5.25C7.875 5.97188 8.13203 6.58984 8.64609 7.10391C9.16016 7.61797 9.77812 7.875 10.5 7.875C11.2219 7.875 11.8398 7.61797 12.3539 7.10391Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
        }
        .header[data-bg="white"] .util .search {
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.13656 16.2731C5.86249 16.2731 3.93788 15.4855 2.36273 13.9104C0.787577 12.3352 0 10.4106 0 8.13656C0 5.86249 0.787577 3.93788 2.36273 2.36273C3.93788 0.787577 5.86249 0 8.13656 0C10.4106 0 12.3352 0.787577 13.9104 2.36273C15.4855 3.93788 16.2731 5.86249 16.2731 8.13656C16.2731 9.05453 16.1271 9.92034 15.835 10.734C15.5429 11.5477 15.1465 12.2674 14.6458 12.8933L21.6558 19.9033C21.8853 20.1328 22 20.4248 22 20.7795C22 21.1342 21.8853 21.4263 21.6558 21.6558C21.4263 21.8853 21.1342 22 20.7795 22C20.4248 22 20.1328 21.8853 19.9033 21.6558L12.8933 14.6458C12.2674 15.1465 11.5477 15.5429 10.734 15.835C9.92034 16.1271 9.05453 16.2731 8.13656 16.2731ZM8.13656 13.7696C9.70128 13.7696 11.0313 13.2219 12.1266 12.1266C13.2219 11.0313 13.7696 9.70128 13.7696 8.13656C13.7696 6.57183 13.2219 5.24182 12.1266 4.14651C11.0313 3.05121 9.70128 2.50356 8.13656 2.50356C6.57183 2.50356 5.24182 3.05121 4.14651 4.14651C3.05121 5.24182 2.50356 6.57183 2.50356 8.13656C2.50356 9.70128 3.05121 11.0313 4.14651 12.1266C5.24182 13.2219 6.57183 13.7696 8.13656 13.7696Z' fill='%231d1d1d'/%3E%3C/svg%3E ");
        }
}/*@media */
@media screen and (max-width:1024px){ /* 1024px 보다 작을 때*/
    .header .wrapper{
        margin-right: 0;
    }
    .header .gnb .gnb_open{
        height: clamp(56px, 10vw, 100px);
        width: clamp(56px, 10vw, 100px) ;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27778 2.57143C0.915741 2.57143 0.612269 2.44821 0.367361 2.20179C0.122454 1.95536 0 1.65 0 1.28571C0 0.921429 0.122454 0.616071 0.367361 0.369643C0.612269 0.123214 0.915741 0 1.27778 0H21.7222C22.0843 0 22.3877 0.123214 22.6326 0.369643C22.8775 0.616071 23 0.921429 23 1.28571C23 1.65 22.8775 1.95536 22.6326 2.20179C22.3877 2.44821 22.0843 2.57143 21.7222 2.57143H1.27778ZM1.27778 18C0.915741 18 0.612269 17.8768 0.367361 17.6304C0.122454 17.3839 0 17.0786 0 16.7143C0 16.35 0.122454 16.0446 0.367361 15.7982C0.612269 15.5518 0.915741 15.4286 1.27778 15.4286H21.7222C22.0843 15.4286 22.3877 15.5518 22.6326 15.7982C22.8775 16.0446 23 16.35 23 16.7143C23 17.0786 22.8775 17.3839 22.6326 17.6304C22.3877 17.8768 22.0843 18 21.7222 18H1.27778ZM1.27778 10.2857C0.915741 10.2857 0.612269 10.1625 0.367361 9.91607C0.122454 9.66964 0 9.36429 0 9C0 8.63571 0.122454 8.33036 0.367361 8.08393C0.612269 7.8375 0.915741 7.71429 1.27778 7.71429H21.7222C22.0843 7.71429 22.3877 7.8375 22.6326 8.08393C22.8775 8.33036 23 8.63571 23 9C23 9.36429 22.8775 9.66964 22.6326 9.91607C22.3877 10.1625 22.0843 10.2857 21.7222 10.2857H1.27778Z' fill='white'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .header .gnb .gnb_wrap{
        display: none;
    }
    .header .util{
        display: none;
    }
    .header .gnb .gnb_open [data-bg="white"]{
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27778 2.57143C0.915741 2.57143 0.612269 2.44821 0.367361 2.20179C0.122454 1.95536 0 1.65 0 1.28571C0 0.921429 0.122454 0.616071 0.367361 0.369643C0.612269 0.123214 0.915741 0 1.27778 0H21.7222C22.0843 0 22.3877 0.123214 22.6326 0.369643C22.8775 0.616071 23 0.921429 23 1.28571C23 1.65 22.8775 1.95536 22.6326 2.20179C22.3877 2.44821 22.0843 2.57143 21.7222 2.57143H1.27778ZM1.27778 18C0.915741 18 0.612269 17.8768 0.367361 17.6304C0.122454 17.3839 0 17.0786 0 16.7143C0 16.35 0.122454 16.0446 0.367361 15.7982C0.612269 15.5518 0.915741 15.4286 1.27778 15.4286H21.7222C22.0843 15.4286 22.3877 15.5518 22.6326 15.7982C22.8775 16.0446 23 16.35 23 16.7143C23 17.0786 22.8775 17.3839 22.6326 17.6304C22.3877 17.8768 22.0843 18 21.7222 18H1.27778ZM1.27778 10.2857C0.915741 10.2857 0.612269 10.1625 0.367361 9.91607C0.122454 9.66964 0 9.36429 0 9C0 8.63571 0.122454 8.33036 0.367361 8.08393C0.612269 7.8375 0.915741 7.71429 1.27778 7.71429H21.7222C22.0843 7.71429 22.3877 7.8375 22.6326 8.08393C22.8775 8.33036 23 8.63571 23 9C23 9.36429 22.8775 9.66964 22.6326 9.91607C22.3877 10.1625 22.0843 10.2857 21.7222 10.2857H1.27778Z' fill='white'/%3E%3C/svg%3E ");  
    }

}/*@media */