@import url(reset.css);
@import url(common.css);
@import url(fonts.css);
@import url(layout.css);

.visual .swiper{
    width: 100vw;
}
.visual .swiper-slide {
    height: 100dvh;
    display: flex; /* .visual .txt 위아래 가운데*/
    flex-direction: column;
    justify-content: center;
}
.visual .swiper-slide .photo,
.visual .swiper-slide .video{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img{
    transform: scale3d(1.125, 1.125, 1);
    transition:  transform 0.5s;
}
.visual .swiper-slide.swiper-slide-active .photo img{
    transform: scale3d(1, 1, 1)
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .video video,
.visual .swiper-slide .video video source{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .visual_txt{
    font-size: clamp(32px, 7vw, 80px);
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
    text-align: center;
}
.visual .swiper-slide .visual_txt .line{
    overflow: hidden;
   
}
.visual .swiper-slide .visual_txt .line span{
    display: block;
    transform: translateY(100%);
    transition: transform 0.5s;
    transition-delay: 0.3s;
}
.visual .swiper-slide .visual_txt .line:first-child span{
    transition-delay: 0.3s
}
.visual .swiper-slide .visual_txt .line:last-child span{
    transition-delay: 0.5s;
}
.visual .swiper-slide.swiper-slide-active .visual_txt .line span{
    transform: translateY(0);
}
.tree .wrapper{
    display: flex; /* txt-photo*/
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.tree .txt h2{
    display: flex; /* 좌우 정렬*/
    color: #063056;
    line-height: 1;
}
.tree .txt h2 strong{
    font-size: clamp(50px, 10vw,  100px);
    font-weight: 800;
    line-height: 1.3;
}
.tree .txt h2 span{
    margin: 0.6em 0 0 0.25em;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 800;
}
.tree .txt .sub_tit{
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 1em 0 0.45em 0;
}
.tree .photo{
    width:  54.13%;
    position: relative; /* 나무 정렬의 기준*/
}
.tree .photo .tree{
    width:  90.54%;
}
.tree .photo .tree{
    position: relative;
    left: 0;
    top: 0;
}
.tree .photo .tree02{
    position: absolute;
    width: 4.66%;
    right: 16%;
    bottom: 26%;
    animation: tree_tree02 5s ease infinite;
}
@keyframes tree_tree02 {
    0%{transform: translate(0, 0); opacity: 1;}
    90%{transform: translate(100%, 200%); opacity: 0;}
    100%{transform: translate(100%, 200%); opacity: 0;}
}
.tree .photo .tree03{
    position: absolute;
    width: 9.87%;
    left: 2%;
    bottom: 18%;
    animation: tree_tree03 5s ease infinite;
}

.tree .photo .sun{
    position: absolute;
    width: 18.90%;
    right: 16%;
    top: -14%;
}

.tree .photo .cloud01{
    position: absolute;
    z-index: 1; 
    width: 30.75%;
    right: 10%;
    top: -1%;
    animation: tree_cloud01 5s linear infinite;
}
@keyframes tree_cloud01 {
    0%{transform: translateX(0);}
    50%{transform: translateX(10%);}
    100%{transform: translateX(0);}
}
.tree .photo .cloud02{
    position: absolute;
    width: 21.16%;
    left: -10%;
    bottom: 42%;    
    animation: tree_up 3s linear infinite;
}
@keyframes tree_up {
    0%{transform: translateY(0);}
    50%{transform: translateY(10%);}
    100%{transform: translateY(0);}
}

@media screen and (max-width:768px){
    .tree .wrapper{
        flex-direction: column; /* txt-photo*/
        gap: 30px 0;
        margin-top: 76px;
        margin-bottom: 76px ;
        
    }
    .tree .txt{
        text-align: center;
    }
    .tree .txt h2{
        justify-content: center;
    }
    .tree .photo{
        width: 80%;
    }
}
.biz{
    background-color: #2E5129;
    color: #fff;
}   
.biz .wrapper{
    display: flex; /* tit , list 좌우배ㅐ치*/
    justify-content: space-between;
    align-items: center;
}
.biz .tit h2{
    font-size: clamp(32px, 4.5vw, 45px);
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 0.32em 0;
}
.biz .list{
    width: 56%;
    max-width: 725px;
}
.biz .list ul{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(16px, 2.4vw, 24px) clamp(16px, 2.4vw, 24px) ;
}
.biz .list ul li{
    width: calc(50% - (clamp(16px, 2.4vw, 24px) / 2));
}
.biz .list ul li:nth-child(odd){ /*odd 홀수 even 짝수*/
    transform: translateY(32%);

}
.biz .list ul li a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: clamp(150px, 20vw, 200px);
    background-color: #fff;
    border-radius: 10px;
    color: #1d1d1d;
    font-size: clamp(20px, 2.4vw, 24px);
    font-weight: 800;
    padding: 0 0 10% 10.77%;
    position: relative;
}
.biz .list ul li a span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.9545em;;
    width: 2.71em; /* em은 a의 글자 크기에 비례해서 들ㄹ어감*/
    height: 2.71em;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 90%;
}
.biz .list ul li.biz01 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.3498 35.3701H60.7952C61.347 35.3701 61.8036 35.0357 62.0129 34.6085C62.2412 34.1812 62.127 33.6239 61.7846 33.1966L54.0028 24.6328H57.009C57.5608 24.6328 58.0174 24.2984 58.2267 23.8711C58.455 23.4439 58.455 22.8865 58.1125 22.4593L41.8831 0.538741C41.6548 0.20436 41.2173 0 40.7796 0C40.342 0 39.8854 0.222937 39.6761 0.538741L32.4842 10.2915L25.3493 0.650197C25.121 0.315816 24.6835 0.111456 24.2459 0.111456C23.8083 0.111456 23.3516 0.334393 23.1423 0.650197L6.91293 22.5707C6.57046 22.998 6.57047 23.5553 6.79878 23.9826C7.02709 24.4098 7.46473 24.7442 8.01649 24.7442H11.0226L3.24089 33.3081C2.89841 33.6425 2.80329 34.2927 3.01258 34.7199C3.24089 35.1472 3.67847 35.4816 4.23023 35.4816H14.6757L0.444028 49.154C0.00642479 49.5813 -0.107719 50.1386 0.10157 50.6773C0.310858 51.2161 0.881668 51.5505 1.43343 51.5505H17.6628V63.5882C17.6628 64.3499 18.3287 65 19.1087 65H27.4422C28.1082 65 28.7741 64.3498 29.0024 63.6997V51.5505H34.3297V63.5882C34.3297 64.3499 34.9957 65 35.7757 65H44.1092C44.7752 65 45.441 64.3498 45.5552 63.6997V51.439H63.554C64.1058 51.439 64.5624 51.1046 64.8858 50.5659C65.1142 50.0272 65 49.4884 64.5434 49.0426L50.3308 35.3701H50.3498ZM20.5738 62.3807V51.5319H26.1294V62.3807H20.5738ZM4.80105 48.7082L19.0136 34.9243C19.4512 34.497 19.5654 33.9397 19.3561 33.401C19.1278 32.8623 18.576 32.5279 18.0242 32.5279H7.35056L15.1323 23.964C15.4747 23.6296 15.5699 22.9794 15.3606 22.5521C15.1323 22.1249 14.6947 21.7905 14.1429 21.7905H10.6992L24.1507 3.5667L37.6022 21.902H34.1585C33.6067 21.902 33.1501 22.2364 32.9409 22.6636C32.7125 23.0909 32.8267 23.6482 33.1692 24.0754L40.9509 32.6393H30.2771C29.6112 32.6393 29.1736 32.9737 28.9453 33.5125C28.717 34.0512 28.8312 34.5899 29.2878 35.0357L43.6145 48.7082H35.8328C35.8328 48.7082 35.7948 48.7082 35.7757 48.7082C35.7567 48.7082 35.7377 48.7082 35.7187 48.7082H4.83908H4.80105ZM50.7874 21.9205C50.2356 21.9205 49.779 22.2549 49.5698 22.6822C49.3414 23.1094 49.4556 23.6668 49.7981 24.094L57.5798 32.6579H46.9061C46.2402 32.6579 45.8026 32.9923 45.5742 33.531C45.5362 33.6239 45.5171 33.7168 45.4981 33.8282C45.441 33.6425 45.365 33.4753 45.2318 33.3267L37.4501 24.7628H40.4562C41.0079 24.7628 41.4646 24.4284 41.6739 24.0011C41.9022 23.5739 41.9022 23.0166 41.5597 22.5893L34.1395 12.5764L40.7796 3.60389L54.2312 21.9391H50.7874V21.9205ZM37.1266 51.4204H42.6823V62.2692H37.1266V51.4204ZM47.4578 48.5968L33.797 35.463H44.2424C44.7942 35.463 45.2508 35.1286 45.4601 34.7013C45.4981 34.627 45.5172 34.5342 45.5362 34.4413C45.6123 34.6456 45.7265 34.85 45.8977 35.0172L60.2245 48.5782H47.4388L47.4578 48.5968Z' fill='%23010101'/%3E%3C/svg%3E ");
    }
.biz .list ul li.biz02 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.7909 64.9673H63.6012C64.2574 64.9673 64.8964 64.3137 65 63.6765V48.7582C65 48.0065 64.3438 47.353 63.6012 47.353H54.0861V35.2451C54.0861 34.9183 53.9825 34.4935 53.6544 34.2647L33.8642 15.8497V12.3203H48.6809C49.4408 12.3203 50.0797 11.6667 50.0797 10.915V1.40525C50.0797 0.653621 49.4235 0 48.6809 0H32.4482C31.6884 0 31.0494 0.653621 31.0494 1.40525V15.7517L11.1384 34.2811C10.8103 34.4935 10.7067 34.9347 10.7067 35.2615V47.3693H1.39877C0.638944 47.3693 0 48.0229 0 48.7745V63.5948C0 64.3464 0.656213 65 1.39877 65H52.7909V64.9673ZM2.71123 50.1471H10.8276V62.2549H2.71123V50.1471ZM62.2025 62.2713H54.0861V50.1634H62.2025V62.2713ZM13.5215 48.2353V35.768L32.4482 18.1373L51.3749 35.768V62.1569H40.6682V48.7419C40.6682 47.9902 40.012 47.3366 39.2694 47.3366H24.3318C23.572 47.3366 22.9331 47.9902 22.9331 48.7419V62.1569H13.6251V48.7419C13.6251 48.5621 13.5906 48.3824 13.5215 48.219V48.2353ZM25.7479 50.1471H37.9742V62.2549H25.7479V50.1471ZM47.3858 9.5915H33.8642V2.7778H47.3858V9.5915Z' fill='%23010101'/%3E%3Cpath d='M33.1046 43.3331C37.2146 43.3331 40.5648 39.9834 40.5648 35.8658C40.5648 31.7481 37.2146 28.3984 33.1046 28.3984C28.9947 28.3984 25.6445 31.7481 25.6445 35.8658C25.6445 39.9834 28.9947 43.3331 33.1046 43.3331ZM28.3385 35.9801C28.3385 33.3821 30.497 31.2253 33.1046 31.2253C35.7122 31.2253 37.8709 33.3821 37.8709 35.9801C37.8709 38.5782 35.7122 40.735 33.1046 40.735C30.497 40.735 28.3385 38.5782 28.3385 35.9801Z' fill='%23010101'/%3E%3C/svg%3E ");
}
.biz .list ul li.biz03 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.0093 37.5557H39.3096V40.2554H42.0093V37.5557Z' fill='%23010101'/%3E%3Cpath d='M25.7593 37.5557H23.0596V40.2554H25.7593V37.5557Z' fill='%23010101'/%3E%3Cpath d='M31.5198 64.5701C31.8465 64.8968 32.1733 65 32.5 65C32.8267 65 33.1535 64.8968 33.4802 64.5701C41.1667 56.9868 49.0768 48.9736 55.0437 41.0635C61.7672 32.0701 65 24.16 65 16.9034C65 7.58331 57.4167 0 48.0966 0C40.1865 0 36.0767 3.90341 32.5 10.1799C28.9233 3.78304 24.8135 0 16.9034 0C7.58331 0 0 7.58331 0 16.9034C0 24.16 3.24998 32.0701 9.97353 41.0635C15.9233 48.9736 23.8333 56.8836 31.537 64.5701H31.5198ZM16.8863 2.71691C23.6098 2.71691 27.1693 5.41667 31.2963 13.6534C31.5199 14.0833 31.9497 14.4101 32.4828 14.4101C33.0159 14.4101 33.463 14.0833 33.6693 13.6534C37.7791 5.41667 41.4762 2.71691 48.0794 2.71691C55.8862 2.71691 62.2659 9.11374 62.2659 16.9034C62.2659 31.6402 47.3227 46.9101 32.4828 61.75C17.6428 46.9101 2.69975 31.6402 2.69975 16.9034C2.69975 9.09654 9.09658 2.71691 16.8863 2.71691Z' fill='%23010101'/%3E%3Cpath d='M32.4833 51.0877C42.2333 51.0877 50.1434 43.1776 50.1434 33.4276C50.1434 23.6776 42.2333 15.7676 32.4833 15.7676C22.7333 15.7676 14.8232 23.6776 14.8232 33.4276C14.8232 43.1776 22.7333 51.0877 32.4833 51.0877ZM32.4833 18.6049C40.7201 18.6049 47.4264 25.2081 47.4264 33.4448C47.4264 41.6816 40.7029 48.388 32.4833 48.388C24.2637 48.388 17.5402 41.7848 17.5402 33.548C17.5402 25.3112 24.2637 18.6049 32.4833 18.6049Z' fill='%23010101'/%3E%3Cpath d='M29.3533 36.1464C29.9724 36.1464 30.5742 36.0261 31.0901 35.8025V42.87C31.0901 43.6266 31.7435 44.28 32.5001 44.28C33.2567 44.28 33.9102 43.6266 33.9102 42.87V35.8885C34.3745 36.0604 34.8732 36.1636 35.4234 36.1636C37.1602 36.1636 38.7766 35.3038 39.5332 33.9969C40.2898 32.5869 40.6165 29.2337 40.6165 28.5803C40.6165 28.1504 40.5133 27.8237 40.1866 27.4969C39.8599 27.1702 39.5332 27.067 39.1033 27.067C38.4498 27.067 35.0967 27.3938 33.6866 28.1504C33.1536 28.4083 32.7409 28.7866 32.3969 29.2165C32.0358 28.735 31.5887 28.3223 31.0901 28.0472C29.68 27.2906 26.3268 26.9639 25.6734 26.9639C25.2435 26.9639 24.9168 27.067 24.5901 27.3938C24.2633 27.7205 24.1602 28.0472 24.1602 28.4771C24.1602 29.1305 24.4869 32.4837 25.2435 33.8938C26.1033 35.3038 27.6337 36.1636 29.3533 36.1636V36.1464ZM27.0662 29.87C28.2528 30.0935 29.3361 30.2999 29.6628 30.2999C30.3163 30.7297 30.5226 31.3832 30.5226 31.7099C30.6258 32.3634 30.5226 32.7933 30.2991 33.0168C30.1959 33.2404 29.7488 33.3435 29.3189 33.3435C28.7858 33.3435 27.9089 33.12 27.5822 32.4837C27.3586 32.157 27.1522 31.0737 27.0319 29.8872L27.0662 29.87ZM34.3229 31.8131C34.3229 31.4864 34.5464 30.8329 35.1827 30.403C35.5094 30.1795 36.5927 29.9731 37.7792 29.87C37.5557 31.0565 37.3493 32.1398 37.229 32.5697C36.7991 33.2231 36.0424 33.4295 35.4922 33.4295C35.0623 33.4295 34.6324 33.2059 34.512 33.1028C34.4089 32.8792 34.1853 32.3461 34.2885 31.7959L34.3229 31.8131Z' fill='%23010101'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz04 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.5968 0H1.40323C0.651497 0 0 0.650327 0 1.40071V52.6937C0 53.4441 0.651497 54.0944 1.40323 54.0944H25.7427V62.1986H23.0365C22.2848 62.1986 21.6333 62.8489 21.6333 63.5993C21.6333 64.3497 22.2848 65 23.0365 65H39.2573C40.009 65 40.6605 64.3497 40.6605 63.5993C40.6605 62.8489 40.009 62.1986 39.2573 62.1986H36.551V54.0944H63.5968C64.3485 54.0944 65 53.4441 65 52.6937V1.40071C64.8998 0.650327 64.3485 0 63.5968 0ZM33.8448 62.0818H28.4323V53.9777H33.8448V62.0818ZM62.1935 51.2763H2.70624V45.8735H55.3778C56.1295 45.8735 56.7811 45.2232 56.7811 44.4728C56.7811 43.7224 56.1295 43.0721 55.3778 43.0721H2.70624V2.68474H62.1935V51.2763Z' fill='%23010101'/%3E%3Cpath d='M13.5146 39.1869H35.1478C35.8996 39.1869 36.5511 38.5366 36.5511 37.7862C36.5511 13.924 36.6513 16.0751 36.3339 15.4415C30.3868 6.58692 30.9214 7.23722 30.604 7.02045C30.3868 6.92039 30.2866 6.80371 29.9525 6.80371C29.7353 6.80371 30.8212 6.80371 13.5146 6.80371C12.7628 6.80371 12.1113 7.45404 12.1113 8.20442V37.903C12.2116 38.5533 12.7628 39.2036 13.5146 39.2036V39.1869ZM31.1386 12.6233L32.6588 14.8911H31.1386V12.6233ZM14.9178 9.50509H28.4324V16.3086C28.4324 17.0589 29.0839 17.7093 29.8356 17.7093H33.9451V36.6023H14.9011V9.50509H14.9178Z' fill='%23010101'/%3E%3Cpath d='M28.4321 20.293H18.9101C18.1583 20.293 17.5068 20.9433 17.5068 21.6937C17.5068 22.4441 18.1583 23.0944 18.9101 23.0944H28.4321C29.1838 23.0944 29.8353 22.4441 29.8353 21.6937C29.8353 20.9433 29.1838 20.293 28.4321 20.293Z' fill='%23010101'/%3E%3Cpath d='M28.4321 25.6963H18.9101C18.1583 25.6963 17.5068 26.3466 17.5068 27.097C17.5068 27.8474 18.1583 28.4977 18.9101 28.4977H28.4321C29.1838 28.4977 29.8353 27.8474 29.8353 27.097C29.8353 26.3466 29.1838 25.6963 28.4321 25.6963Z' fill='%23010101'/%3E%3Cpath d='M28.4321 31.0996H18.9101C18.1583 31.0996 17.5068 31.7499 17.5068 32.5003C17.5068 33.2507 18.1583 33.9011 18.9101 33.9011H28.4321C29.1838 33.9011 29.8353 33.2507 29.8353 32.5003C29.8353 31.7499 29.1838 31.0996 28.4321 31.0996Z' fill='%23010101'/%3E%3Cpath d='M43.2499 39.1864H56.7644C57.5162 39.1864 58.1677 38.5361 58.1677 37.7857V21.5941C58.1677 20.8437 57.5162 20.1934 56.7644 20.1934H43.2499C42.4982 20.1934 41.8467 20.8437 41.8467 21.5941V37.7857C41.9469 38.5361 42.4982 39.1864 43.2499 39.1864ZM44.6699 22.9948H55.4948V36.485H44.6699V22.9948Z' fill='%23010101'/%3E%3Cpath d='M52.771 26.9958H51.3678V25.595C51.3678 24.8447 50.7163 24.1943 49.9646 24.1943C49.2128 24.1943 48.5613 24.8447 48.5613 25.595V26.9958H47.1581C46.4064 26.9958 45.7549 27.6461 45.7549 28.3965C45.7549 29.1469 46.4064 29.7972 47.1581 29.7972H52.5706C53.3223 29.7972 53.9738 29.1469 53.9738 28.3965C54.0741 27.6461 53.5395 26.9958 52.7878 26.9958H52.771Z' fill='%23010101'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz05 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.5262 43.2189C59.578 43.0745 59.6299 42.9119 59.6299 42.7674C59.6299 42.2979 59.4053 41.9005 59.077 41.6115L56.4503 32.0214C56.2257 31.4254 55.7764 30.9558 55.0852 30.9558H48.1904V26.4226C52.1476 25.6821 55.2062 22.0339 55.2062 17.7174C55.2062 14.8819 53.962 12.2811 51.8193 10.6196C52.6141 9.44564 53.0634 8.01885 53.0634 6.61012C53.0634 2.94383 50.2295 0 46.7389 0C43.2483 0 40.4143 2.96189 40.4143 6.61012C40.4143 8.14527 40.8636 9.44564 41.6585 10.6196C40.8636 11.2336 40.207 11.9561 39.6713 12.7869C39.1356 11.9561 38.479 11.2336 37.6841 10.6196C38.479 9.44564 38.9282 8.01885 38.9282 6.61012C38.9282 2.94383 36.0943 0 32.6037 0C29.1131 0 26.2791 2.96189 26.2791 6.61012C26.2791 8.14527 26.7284 9.44564 27.5233 10.6196C26.7284 11.2336 26.0718 11.9561 25.5361 12.7869C25.0004 11.9561 24.3437 11.2336 23.5488 10.6196C24.3437 9.44564 24.793 8.01885 24.793 6.61012C24.793 2.94383 21.9591 0 18.4685 0C14.9779 0 12.1439 2.96189 12.1439 6.61012C12.1439 8.14527 12.5932 9.44564 13.3881 10.6196C11.2454 12.2811 10.0012 14.8819 10.0012 17.7174C10.0012 22.0339 13.0597 25.6821 17.0169 26.4226V30.9558H9.89748C9.22355 30.9558 8.77431 31.4254 8.53238 32.0214L0.0477998 63.1037C-0.0731616 63.5732 0.0477555 64.0428 0.272398 64.404C0.497041 64.7652 0.946368 65 1.39565 65H40.9673C41.7622 65 42.4361 64.2957 42.4361 63.4649C42.4361 62.6341 41.7622 61.9297 40.9673 61.9297H3.31373L8.92979 41.3587H26.9358C27.7307 41.3587 28.4046 40.6543 28.4046 39.8236C28.4046 38.9928 27.7307 38.2884 26.9358 38.2884H9.75926L10.9861 33.7913H17.9155C18.0883 33.8636 18.2611 33.9178 18.4512 33.9178C18.6586 33.9178 18.8486 33.8816 19.0387 33.7913H32.0507C32.2235 33.8636 32.3963 33.9178 32.5864 33.9178C32.7937 33.9178 32.9838 33.8816 33.1739 33.7913H46.1859C46.3587 33.8636 46.5315 33.9178 46.7216 33.9178C46.9289 33.9178 47.119 33.8816 47.3091 33.7913H54.083L56.122 41.2323H42.557C41.7622 41.2323 41.0883 41.9366 41.0883 42.7674C41.0883 43.5982 41.7622 44.3026 42.557 44.3026H56.9688L61.7899 61.9116H49.5728C48.778 61.9116 48.104 62.616 48.104 63.4468C48.104 64.2776 48.778 64.9819 49.5728 64.9819H63.708C64.1573 64.9819 64.6066 64.7471 64.7276 64.3859C64.9522 64.0247 65.0732 63.5552 64.9522 63.0856L59.5262 43.2189ZM16.2047 12.2812C16.775 12.1547 17.1033 11.6852 17.1033 11.1072C17.2243 10.5112 16.9824 10.0417 16.5331 9.68044C15.5135 8.97608 14.9433 7.78406 14.9433 6.61012C14.9433 4.6054 16.5331 2.94383 18.4512 2.94383C20.3693 2.94383 21.9591 4.6054 21.9591 6.61012C21.9591 7.78406 21.3888 8.97608 20.3693 9.68044C20.0237 10.0417 19.7991 10.5112 19.7991 11.1072C19.92 11.5768 20.2483 12.0464 20.6976 12.2812C22.7367 13.2203 24.0846 15.3515 24.0846 17.7174C24.0846 20.4988 22.322 22.7383 19.9027 23.4065V19.1261C19.9027 18.2954 19.2288 17.591 18.4339 17.591C17.639 17.591 16.9651 18.2954 16.9651 19.1261V23.4065C14.5458 22.7383 12.7833 20.4807 12.7833 17.7174C12.7833 15.3515 14.1484 13.2203 16.1702 12.2812H16.2047ZM30.34 12.2812C30.9102 12.1547 31.2385 11.6852 31.2385 11.1072C31.3595 10.5112 31.1176 10.0417 30.6683 9.68044C29.6488 8.97608 29.0785 7.78406 29.0785 6.61012C29.0785 4.6054 30.6683 2.94383 32.5864 2.94383C34.5045 2.94383 36.0943 4.6054 36.0943 6.61012C36.0943 7.78406 35.524 8.97608 34.5045 9.68044C34.1589 10.0417 33.9342 10.5112 33.9342 11.1072C34.0552 11.5768 34.3835 12.0464 34.8328 12.2812C36.8719 13.2203 38.2197 15.3515 38.2197 17.7174C38.2197 20.4807 36.4571 22.7383 34.0379 23.4065V19.1261C34.0379 18.2954 33.364 17.591 32.5691 17.591C31.7742 17.591 31.1003 18.2954 31.1003 19.1261V23.4065C28.6638 22.7383 26.9185 20.4807 26.9185 17.7174C26.9185 15.3515 28.2836 13.2203 30.3054 12.2812H30.34ZM44.4752 12.2812C45.0454 12.1547 45.3737 11.6852 45.3737 11.1072C45.4947 10.5112 45.2528 10.0417 44.8035 9.68044C43.784 8.97608 43.2137 7.78406 43.2137 6.61012C43.2137 4.6054 44.8035 2.94383 46.7216 2.94383C48.6397 2.94383 50.2295 4.6054 50.2295 6.61012C50.2295 7.78406 49.6592 8.97608 48.6397 9.68044C48.2941 10.0417 48.0694 10.5112 48.0694 11.1072C48.1904 11.5768 48.5187 12.0464 48.968 12.2812C51.0071 13.2203 52.3549 15.3515 52.3549 17.7174C52.3549 20.4807 50.5923 22.7383 48.1731 23.4065V19.1261C48.1731 18.2954 47.4992 17.591 46.7043 17.591C45.9094 17.591 45.2355 18.2954 45.2355 19.1261V23.4065C42.799 22.7383 41.0537 20.4807 41.0537 17.7174C41.0537 15.3515 42.4188 13.2203 44.4406 12.2812H44.4752ZM34.0725 26.4226C36.3881 25.9891 38.4098 24.5624 39.6713 22.5576C40.9327 24.5443 42.9545 25.9891 45.27 26.4226V30.9558H34.0725V26.4226ZM19.9373 26.4226C22.2528 25.9891 24.2746 24.5624 25.5361 22.5576C26.7975 24.5624 28.8193 25.9891 31.1349 26.4226V30.9558H19.9373V26.4226Z' fill='%23010101'/%3E%3Cpath d='M32.725 48.6729C32.725 47.8421 32.0511 47.1377 31.2562 47.1377H21.3028C20.5079 47.1377 19.834 47.8421 19.834 48.6729C19.834 49.5036 20.5079 50.208 21.3028 50.208H31.2562C31.9301 50.208 32.6214 49.5036 32.725 48.6729Z' fill='%23010101'/%3E%3Cpath d='M42.557 51.5088H35.4376C34.6427 51.5088 33.9688 52.2132 33.9688 53.0439C33.9688 53.8747 34.6427 54.5791 35.4376 54.5791H42.557C43.2309 54.5791 43.9222 53.9831 44.0258 53.0439C44.0258 52.2132 43.3519 51.5088 42.557 51.5088Z' fill='%23010101'/%3E%3Cpath d='M49.5723 59.0761H58.0569C58.8518 59.0761 59.5257 58.3718 59.5257 57.541C59.5257 56.7102 58.8518 56.0059 58.0569 56.0059H49.5723C48.7775 56.0059 48.1035 56.7102 48.1035 57.541C48.1035 58.3718 48.7775 59.0761 49.5723 59.0761Z' fill='%23010101'/%3E%3Cpath d='M11.3496 57.541H18.4691C19.264 57.541 19.9379 56.945 19.9379 56.0059C19.9379 55.1751 19.264 54.4707 18.4691 54.4707H11.3496C10.5547 54.4707 9.88086 55.1751 9.88086 56.0059C9.88086 56.8366 10.5547 57.541 11.3496 57.541Z' fill='%23010101'/%3E%3Cpath d='M29.7695 44.1758C29.7695 45.0066 30.4435 45.7109 31.2384 45.7109H34.0723C34.7463 45.7109 35.5411 45.0066 35.5411 44.1758C35.5411 43.345 34.8672 42.6406 34.0723 42.6406H31.2384C30.4435 42.6406 29.7695 43.345 29.7695 44.1758Z' fill='%23010101'/%3E%3Cpath d='M28.3008 60.5029H32.6036C33.3985 60.5029 34.0724 59.9069 34.0724 58.9677C34.0724 58.1369 33.3985 57.4326 32.6036 57.4326H28.3008C27.5059 57.4326 26.832 58.1369 26.832 58.9677C26.832 59.7985 27.5059 60.5029 28.3008 60.5029Z' fill='%23010101'/%3E%3C/svg%3E ");
}
.biz .list ul li.biz06 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M63.5777 62.1685H48.7638V48.0483C56.1892 44.1435 61.3981 38.2956 63.6885 31.6149C64.4458 29.2276 64.8707 26.8402 64.8707 24.3604C64.8707 21.2144 64.2242 18.1794 62.9312 15.2554C60.3267 9.18538 54.9332 3.76304 47.8957 0.191349C47.3416 -0.178774 46.6396 0.0248572 46.2517 0.487511C42.7237 2.30112 39.5837 4.50329 37.0901 7.13116C33.0818 11.258 30.6067 16.1251 29.8494 21.3254C29.7386 22.4172 29.6277 23.3796 29.6277 24.4714C29.6277 34.0206 35.7602 42.8296 45.9562 48.2889V62.187H31.678L25.1208 55.6174C26.6354 50.3061 26.3583 45.1429 24.3265 41.053C23.5692 39.5355 22.5902 38.2401 21.4081 37.0372C20.0043 35.5197 18.1571 34.3353 16.2177 33.5766C12.0986 31.948 7.01901 31.948 2.05027 33.5766C1.47767 33.7431 1.14518 34.2242 1.12671 34.7794C0.406338 37.2962 0 39.7205 0 42.0338C0 45.8275 1.08977 49.2882 3.02924 52.2122C3.5649 52.8599 4.11905 53.5076 4.65471 54.0628C7.68398 57.0978 11.8954 58.7264 16.661 58.7264C18.8036 58.7264 21.0387 58.3562 23.2737 57.653L27.7991 62.187H1.40377C0.646452 62.187 0 62.8348 0 63.5935C0 64.3523 0.646452 65 1.40377 65H63.5962C64.2427 65 64.8892 64.3523 65 63.5935C65 62.8348 64.3535 62.187 63.5962 62.187L63.5777 62.1685ZM38.6047 9.53694L45.9562 19.3453V30.9117L33.3035 20.5296C33.1742 20.4371 33.0079 20.3816 32.8601 20.3446C33.599 16.4953 35.5754 12.8126 38.6047 9.51853V9.53694ZM45.9378 14.7002L40.5811 7.53836C42.1881 6.07637 43.9613 4.79938 45.9378 3.65199V14.7002ZM48.5422 45.1059V40.0907L59.6618 34.0392C57.3714 38.3882 53.5663 42.1819 48.5422 45.1059ZM61.2873 30.0603L48.5422 37.0002V34.5019C48.7269 34.0762 48.7454 33.5765 48.5422 33.2064V27.8025L61.0471 17.8647C61.8045 19.9929 62.1739 22.1767 62.1739 24.3604C62.1739 26.285 61.8229 28.2282 61.2873 30.0789V30.0603ZM48.5422 24.3235V19.7524C48.8747 19.2712 48.8931 18.6791 48.5422 18.1794V3.65199C53.7326 6.68701 57.6485 10.7214 59.9019 15.2369L48.5422 24.3419V24.3235ZM32.4723 23.4536L45.9562 34.4833V45.0319C37.4041 40.0537 32.4353 32.4661 32.4353 24.3419C32.4353 24.0643 32.4538 23.7497 32.4723 23.4536ZM2.77067 43.2552L9.97441 44.3286L14.4444 48.8071L4.83943 49.8064C4.83943 49.8064 4.83942 49.8064 4.82094 49.8064C3.62032 47.9003 2.93691 45.6796 2.77067 43.2552ZM22.9411 53.5261L21.3896 51.9717L23.1444 46.0312C23.5877 48.363 23.5322 50.9168 22.9411 53.5261ZM3.21396 37.5553L6.74196 41.0901L2.77067 40.4978C2.86303 39.517 2.99231 38.5546 3.21396 37.5553ZM19.1915 49.7695L18.6189 49.1958C18.4896 48.9737 18.3234 48.8071 18.1017 48.6775L15.7189 46.2903L16.7903 36.9076C17.8062 37.4813 18.7482 38.166 19.5425 38.9618C20.3552 39.6835 21.0202 40.6459 21.5928 41.6267L19.1915 49.7695ZM13.2623 43.8289L5.04259 35.5937C8.29351 34.8904 11.4336 34.9644 14.2043 35.7972L13.2808 43.8289H13.2623ZM16.9196 51.2869L18.9144 53.2856C18.9144 53.2856 18.9514 53.3412 18.9883 53.3597L21.0756 55.4508C15.4973 56.7092 10.3438 55.5988 6.87127 52.3417L16.9196 51.2869Z' fill='%23010101'/%3E%3C/svg%3E ");
}
.biz .list ul li a span::after{
    content: "";
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 1.46em;
    height: 1.46em;
    border-radius: 50%;
    background-color: #063056;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39234 9.49353L0.358851 2.12916C0.119617 1.87867 0.0039864 1.58643 0.0119609 1.25244C0.0199354 0.918459 0.14354 0.626222 0.382774 0.375733C0.622009 0.125244 0.901116 -4.49923e-07 1.2201 -4.22676e-07C1.53907 -3.95428e-07 1.81818 0.125244 2.05742 0.375733L9.42584 8.06575C9.61723 8.26614 9.76077 8.49158 9.85646 8.74207C9.95215 8.99256 10 9.24305 10 9.49353C10 9.74402 9.95215 9.99451 9.85646 10.245C9.76077 10.4955 9.61723 10.7209 9.42584 10.9213L2.05741 18.6364C1.81818 18.8869 1.53509 19.0079 1.20813 18.9996C0.881178 18.9912 0.598084 18.8618 0.35885 18.6113C0.119615 18.3608 -2.13025e-06 18.0686 -2.10037e-06 17.7346C-2.07049e-06 17.4006 0.119615 17.1084 0.35885 16.8579L7.39234 9.49353Z' fill='white'/%3E%3C/svg%3E ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}
.biz .list ul li a span{
    position: relative;
}
@media screen and (max-width:768px){

}
@media screen and (max-width:769px){
        .biz{
            padding: 120px 0 200px 0;
        }
        .biz .wrapper{
            flex-direction: column;
            align-items: flex-start;
            gap: 36px 0;
        }
        .biz .list{
            width: 100%;
            max-width: 100%;
        }
        .biz .list ul li:nth-child(odd){ /*odd 홀수 even 짝수*/
            transform: translateY(0);

        }
        .biz .list ul li a{
            padding: 0 0 59px 0;
            text-align: center;
        }
        
        .biz .list ul li a span::before{
            left: 50%;
            transform: translateX(-50%);
            bottom: 1.9545em;
            width: 1.71em; /* em은 a의 글자 크기에 비례해서 들ㄹ어감*/
            height: 1.71em;
            background-position: center bottom;
            background-size: 90%;
        }
    
        .biz .list ul li a span::after{
            right: 50%;
            top: auto;
            bottom: -41px;
            transform: translateX(50%);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #063056;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39234 9.49353L0.358851 2.12916C0.119617 1.87867 0.0039864 1.58643 0.0119609 1.25244C0.0199354 0.918459 0.14354 0.626222 0.382774 0.375733C0.622009 0.125244 0.901116 -4.49923e-07 1.2201 -4.22676e-07C1.53907 -3.95428e-07 1.81818 0.125244 2.05742 0.375733L9.42584 8.06575C9.61723 8.26614 9.76077 8.49158 9.85646 8.74207C9.95215 8.99256 10 9.24305 10 9.49353C10 9.74402 9.95215 9.99451 9.85646 10.245C9.76077 10.4955 9.61723 10.7209 9.42584 10.9213L2.05741 18.6364C1.81818 18.8869 1.53509 19.0079 1.20813 18.9996C0.881178 18.9912 0.598084 18.8618 0.35885 18.6113C0.119615 18.3608 -2.13025e-06 18.0686 -2.10037e-06 17.7346C-2.07049e-06 17.4006 0.119615 17.1084 0.35885 16.8579L7.39234 9.49353Z' fill='white'/%3E%3C/svg%3E ");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30%;
        }
        .biz .list ul li a span{
            position: relative;
        }
}
.story{
    
}
.footer{
    color: #767676;
}
.sec_nav{
    position: fixed;
    left: 35px;
    top: 50%; /* 브라우저 높이의 50%*/
    transform: translateY(-50%); /* sec_nav 나의 길이 절반을 위로 올라감*/
    
}
.sec_nav{
    transition: opacity 0.3s;
}
.sec_nav[data-bg="none"]{
    opacity: 0;
}
@media screen and (max-width:1024px){
        .sec_nav{
            display: none;
        }
}
.sec_nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
.sec_nav ul li a{
    display: block;
    color: rgb(225, 225, 225, 0.8);
    padding: 0 0 0 32px;
    position: relative; /*before 정렬의 기준*/
}
.sec_nav ul li a::before{
    content: "";
    position: absolute ;
    left: 13px;
    top: 10px;
    width: 5px;
    height: 5px;
    border: 1px solid rgb(225, 225, 225, 0.8);
    border-radius: 50%;
}
.sec_nav ul li.active a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}
.sec_nav ul li.active a::before{
    border-color: #fff;
    background-color: #fff;
}
/* 배경 색상이 변경 됐을 때*/
.sec_nav[data-bg="white"] ul li a{
    color: rgba(29, 29, 29, 0.3);
}
.sec_nav[data-bg="white"] ul li a::before{
    border-color: rgba(29, 29, 29, 0.3);
}
.sec_nav[data-bg="white"] ul li a.active a{
    color: #fff;
}   
.sec_nav[data-bg="white"] ul li.active a{
    color: #1d1d1d;
    border-color: #1d1d1d;
}
.sec_nav[data-bg="white"] ul li.active a::before{
    border-color: #1d1d1d;
    background-color: #1d1d1d;
}
.quick{
    position: fixed;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 73px;   
    padding-bottom: 61px; /**/
    /* display: flex;
    flex-direction: column;
    align-items: center; 가로 가운데 정렬  */
}
.quick .open,
.quick .close{
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #063056;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.quick .open{
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.387879 12.325C0.121212 12.125 -0.00795455 11.8625 0.000378788 11.5375C0.00871212 11.2125 0.146212 10.95 0.412879 10.75C0.596212 10.6167 0.796212 10.55 1.01288 10.55C1.22955 10.55 1.42955 10.6167 1.61288 10.75L8.36288 15.975L15.1129 10.75C15.2962 10.6167 15.4962 10.55 15.7129 10.55C15.9295 10.55 16.1295 10.6167 16.3129 10.75C16.5795 10.95 16.717 11.2125 16.7254 11.5375C16.7337 11.8625 16.6045 12.125 16.3379 12.325L9.58788 17.575C9.22121 17.8583 8.81288 18 8.36288 18C7.91288 18 7.50455 17.8583 7.13788 17.575L0.387879 12.325ZM7.13788 12.525L1.38788 8.05C0.871212 7.65 0.612879 7.125 0.612879 6.475C0.612879 5.825 0.871212 5.3 1.38788 4.9L7.13788 0.425C7.50455 0.141667 7.91288 0 8.36288 0C8.81288 0 9.22121 0.141667 9.58788 0.425L15.3379 4.9C15.8545 5.3 16.1129 5.825 16.1129 6.475C16.1129 7.125 15.8545 7.65 15.3379 8.05L9.58788 12.525C9.22121 12.8083 8.81288 12.95 8.36288 12.95C7.91288 12.95 7.50455 12.8083 7.13788 12.525ZM8.36288 10.925L14.1129 6.475L8.36288 2.025L2.61288 6.475L8.36288 10.925Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .close{
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-4.27372e-06 12.3195C-4.94807e-06 12.0484 0.100153 11.8128 0.30047 11.6125L5.24946 6.66347L0.300469 1.71448C0.100153 1.51416 -5.32739e-06 1.2785 -5.43276e-06 1.00748C-5.5592e-06 0.736466 0.100153 0.500799 0.300469 0.300483C0.500785 0.100167 0.736451 9.1965e-06 1.00747 9.32295e-06C1.27848 8.75396e-06 1.51415 0.100167 1.71447 0.300483L6.66345 5.24947L11.6124 0.300483C11.8128 0.100167 12.0484 8.75396e-06 12.3194 9.32295e-06C12.5905 9.1965e-06 12.8261 0.100167 13.0264 0.300483C13.2268 0.500799 13.3269 0.736466 13.3269 1.00748C13.3269 1.2785 13.2268 1.51416 13.0264 1.71448L8.07745 6.66347L13.0264 11.6125C13.2268 11.8128 13.3269 12.0484 13.3269 12.3195C13.3269 12.5905 13.2268 12.8261 13.0264 13.0264C12.8261 13.2268 12.5905 13.3269 12.3194 13.3269C12.0484 13.3269 11.8128 13.2268 11.6124 13.0264L6.66345 8.07746L1.71447 13.0264C1.51415 13.2268 1.27848 13.3269 1.00747 13.3269C0.736452 13.3269 0.500785 13.2268 0.300469 13.0264C0.100153 12.8261 -4.27372e-06 12.5905 -4.27372e-06 12.3195Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .open span,
.quick .close span{
    display: none;
}
.quick .quick_wrap ul{
    background-color: #fff;
    border: 2px solid rgba(29, 29, 29, 0.8);
    border-radius: 40px;
    text-align: center;
    color: #1d1d1d;
    padding: 23px 0;
}
.quick .quick_wrap ul li{
    border-bottom: 1px solid rgba(29, 29, 29, 0.8);

}
.quick .quick_wrap ul li:last-child{
    border-bottom: 0;
}
.quick .quick_wrap ul li a,
.quick .quick_wrap ul li button{
    display: block;
    height: 95px;
    padding: 51px 0 0 0;
    position: relative;
}
.quick .quick_wrap ul li button{
    padding-top: 20px;
}
.quick .quick_wrap ul li a::before,
.quick .quick_wrap ul li button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
}
.quick .quick_wrap ul li.kakao a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2875 17.55C9.04583 17.4667 8.83333 17.3333 8.65 17.15L6.925 15.575C5.15833 13.9583 3.5625 12.3542 2.1375 10.7625C0.7125 9.17083 0 7.41667 0 5.5C0 3.93333 0.525 2.625 1.575 1.575C2.625 0.525 3.93333 0 5.5 0C6.38333 0 7.21667 0.1875 8 0.5625C8.78333 0.9375 9.45 1.45 10 2.1C10.55 1.45 11.2167 0.9375 12 0.5625C12.7833 0.1875 13.6167 0 14.5 0C16.0667 0 17.375 0.525 18.425 1.575C19.475 2.625 20 3.93333 20 5.5C20 7.41667 19.2917 9.175 17.875 10.775C16.4583 12.375 14.85 13.9833 13.05 15.6L11.35 17.15C11.1667 17.3333 10.9542 17.4667 10.7125 17.55C10.4708 17.6333 10.2333 17.675 10 17.675C9.76667 17.675 9.52917 17.6333 9.2875 17.55ZM9.05 4.1C8.56667 3.41667 8.05 2.89583 7.5 2.5375C6.95 2.17917 6.28333 2 5.5 2C4.5 2 3.66667 2.33333 3 3C2.33333 3.66667 2 4.5 2 5.5C2 6.36667 2.30833 7.2875 2.925 8.2625C3.54167 9.2375 4.27917 10.1833 5.1375 11.1C5.99583 12.0167 6.87917 12.875 7.7875 13.675C8.69583 14.475 9.43333 15.1333 10 15.65C10.5667 15.1333 11.3042 14.475 12.2125 13.675C13.1208 12.875 14.0042 12.0167 14.8625 11.1C15.7208 10.1833 16.4583 9.2375 17.075 8.2625C17.6917 7.2875 18 6.36667 18 5.5C18 4.5 17.6667 3.66667 17 3C16.3333 2.33333 15.5 2 14.5 2C13.7167 2 13.05 2.17917 12.5 2.5375C11.95 2.89583 11.4333 3.41667 10.95 4.1C10.8333 4.26667 10.6917 4.39167 10.525 4.475C10.3583 4.55833 10.1833 4.6 10 4.6C9.81667 4.6 9.64167 4.55833 9.475 4.475C9.30833 4.39167 9.16667 4.26667 9.05 4.1Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.naver a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 8.5C6.38333 8.5 5.4375 8.89167 4.6625 9.675C3.8875 10.4583 3.5 11.4 3.5 12.5C3.5 13.6167 3.8875 14.5625 4.6625 15.3375C5.4375 16.1125 6.38333 16.5 7.5 16.5C8.6 16.5 9.54167 16.1125 10.325 15.3375C11.1083 14.5625 11.5 13.6167 11.5 12.5C11.5 11.4 11.1083 10.4583 10.325 9.675C9.54167 8.89167 8.6 8.5 7.5 8.5ZM7.5 10.5C8.05 10.5 8.52083 10.6958 8.9125 11.0875C9.30417 11.4792 9.5 11.95 9.5 12.5C9.5 13.05 9.30417 13.5208 8.9125 13.9125C8.52083 14.3042 8.05 14.5 7.5 14.5C6.95 14.5 6.47917 14.3042 6.0875 13.9125C5.69583 13.5208 5.5 13.05 5.5 12.5C5.5 11.95 5.69583 11.4792 6.0875 11.0875C6.47917 10.6958 6.95 10.5 7.5 10.5ZM18 13C17.7167 13 17.4792 13.0958 17.2875 13.2875C17.0958 13.4792 17 13.7167 17 14C17 14.8 16.6958 15.5 16.0875 16.1C15.4792 16.7 14.7833 17 14 17C13.7167 17 13.4792 17.0958 13.2875 17.2875C13.0958 17.4792 13 17.7167 13 18C13 18.2833 13.0958 18.5208 13.2875 18.7125C13.4792 18.9042 13.7167 19 14 19C15.4667 19 16.6667 18.5333 17.6 17.6C18.5333 16.6667 19 15.4667 19 14C19 13.7167 18.9042 13.4792 18.7125 13.2875C18.5208 13.0958 18.2833 13 18 13ZM18 11C18.8333 11 19.5417 11.2917 20.125 11.875C20.7083 12.4583 21 13.1667 21 14C21 16.0167 20.3375 17.6875 19.0125 19.0125C17.6875 20.3375 16.0167 21 14 21C13.15 21 12.4375 20.7125 11.8625 20.1375C11.2875 19.5625 11 18.85 11 18C11 17.1667 11.2875 16.4583 11.8625 15.875C12.4375 15.2917 13.15 15 14 15C14.2333 15 14.4583 14.8917 14.675 14.675C14.8917 14.4583 15 14.2333 15 14C15 13.1667 15.2875 12.4583 15.8625 11.875C16.4375 11.2917 17.15 11 18 11ZM7.5 0C8.48333 0 9.37917 0.3125 10.1875 0.9375C10.9958 1.5625 11.7 2.32917 12.3 3.2375C12.9 4.14583 13.4 5.125 13.8 6.175C14.2 7.225 14.4833 8.175 14.65 9.025C14.7 9.29167 14.6417 9.52083 14.475 9.7125C14.3083 9.90417 14.0917 10 13.825 10C13.525 10 13.2667 9.90833 13.05 9.725C12.8333 9.54167 12.6833 9.30833 12.6 9.025C12.3833 8.10833 12.0875 7.22917 11.7125 6.3875C11.3375 5.54583 10.9208 4.8 10.4625 4.15C10.0042 3.5 9.52083 2.97917 9.0125 2.5875C8.50417 2.19583 8 2 7.5 2C6.86667 2 6.225 2.30833 5.575 2.925C4.925 3.54167 4.33333 4.32917 3.8 5.2875C3.26667 6.24583 2.83333 7.31667 2.5 8.5C2.16667 9.68333 2 10.85 2 12C2 12.9167 2.11667 13.7417 2.35 14.475C2.58333 15.2083 2.92917 15.8375 3.3875 16.3625C3.84583 16.8875 4.41667 17.2917 5.1 17.575C5.78333 17.8583 6.575 18 7.475 18H8C8.28333 17.9667 8.5375 18.0292 8.7625 18.1875C8.9875 18.3458 9.11667 18.5667 9.15 18.85C9.21667 19.1833 9.09583 19.4583 8.7875 19.675C8.47917 19.8917 8.11667 20 7.7 20C5.3 20.05 3.41667 19.3375 2.05 17.8625C0.683333 16.3875 0 14.4333 0 12C0 10.75 0.1875 9.42083 0.5625 8.0125C0.9375 6.60417 1.4625 5.30833 2.1375 4.125C2.8125 2.94167 3.60833 1.95833 4.525 1.175C5.44167 0.391667 6.43333 0 7.5 0Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.green a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 18V14H5C3.61667 14 2.4375 13.5125 1.4625 12.5375C0.4875 11.5625 0 10.3833 0 9C0 8 0.275 7.07917 0.825 6.2375C1.375 5.39583 2.11667 4.78333 3.05 4.4C3.2 3.15 3.74583 2.10417 4.6875 1.2625C5.62917 0.420833 6.73333 0 8 0C9.26667 0 10.3708 0.420833 11.3125 1.2625C12.2542 2.10417 12.8 3.15 12.95 4.4C13.8833 4.78333 14.625 5.39583 15.175 6.2375C15.725 7.07917 16 8 16 9C16 10.3833 15.5125 11.5625 14.5375 12.5375C13.5625 13.5125 12.3833 14 11 14H9V18H14C14.2833 18 14.5208 18.0958 14.7125 18.2875C14.9042 18.4792 15 18.7167 15 19C15 19.2833 14.9042 19.5208 14.7125 19.7125C14.5208 19.9042 14.2833 20 14 20H2C1.71667 20 1.47917 19.9042 1.2875 19.7125C1.09583 19.5208 1 19.2833 1 19C1 18.7167 1.09583 18.4792 1.2875 18.2875C1.47917 18.0958 1.71667 18 2 18H7ZM5 12H11C11.8333 12 12.5417 11.7083 13.125 11.125C13.7083 10.5417 14 9.83333 14 9C14 8.4 13.8292 7.85 13.4875 7.35C13.1458 6.85 12.7 6.48333 12.15 6.25L11.1 5.8L10.95 4.65C10.85 3.9 10.5208 3.27083 9.9625 2.7625C9.40417 2.25417 8.75 2 8 2C7.25 2 6.59583 2.25417 6.0375 2.7625C5.47917 3.27083 5.15 3.9 5.05 4.65L4.9 5.8L3.85 6.25C3.3 6.48333 2.85417 6.85 2.5125 7.35C2.17083 7.85 2 8.4 2 9C2 9.83333 2.29167 10.5417 2.875 11.125C3.45833 11.7083 4.16667 12 5 12Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.top a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='11' viewBox='0 0 19 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4857 2.72487L2.12351 10.0627C1.8731 10.3122 1.58123 10.4326 1.24791 10.4237C0.91459 10.4148 0.623138 10.2852 0.373554 10.0347C0.123969 9.78433 -0.000546352 9.49246 7.10114e-06 9.15913C0.000560554 8.82579 0.126045 8.53434 0.376459 8.28475L8.06423 0.597505C8.26456 0.397837 8.48981 0.248211 8.73998 0.148626C8.99015 0.0490414 9.24023 -0.00054344 9.49023 -0.00012835C9.74023 0.000286741 9.99014 0.0507018 10.24 0.151117C10.4898 0.251532 10.7146 0.401905 10.9142 0.602237L18.6014 8.31501C18.851 8.56543 18.9714 8.86146 18.9625 9.20311C18.9536 9.54476 18.8239 9.84038 18.5735 10.09C18.3231 10.3396 18.0312 10.4641 17.6979 10.4635C17.3645 10.463 17.0731 10.3375 16.8235 10.0871L9.4857 2.72487Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
}
.quick .close{
    display: none;
}
.quick .quick_wrap{
    display: none;
}
@media screen and (max-width:1024px){
        .quick{
            display: none;
        }
}   