@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #ffffff;
    border-radius: 0 0 200px 0;
    text-align: center;
}
.visual .wrapper{
    height: 871px;
    position: relative;/*picture 정렬의 기준*/
}
.visual h2{
    padding: 309PX 0 604px 0;
}
.visual .picture{
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%; /*동그라미는 50%*/
    background-color: #03045E;
    font-weight: 700;    
    line-height: 1.3;
    padding: 108px 0 0 0;
    position: absolute; /*wrapper를 기준으로*/
    right: -90px;/* 높이의 반*/
    bottom: -90px; /*높이의 반*/
}
/*아이콘 좌우,아래에 글자 혹은 선이 들어간다면 무조건 before 들어감*/
.visual .picture::before{
    content: ""; /* before 사용 시 필수*/
    position: absolute; /* picture를 기준으로 정렬*/
    left: 0;
    top: 47px;
    width: 100%;
    height: 37px;
    /*아이콘을 백그라운드 줄때는 사이즈를 안 주면 원래 사이즈대로 들어감*/
    background: url(../images/visual_picture.svg) no-repeat center center;
}  
.visual .picture:hover{
    color: #00B4D7;
    box-shadow: 5px 5px 10px 0  rgba(0, 0, 0, 0.1);
}
.visual .picture:hover::before{
    background-image: url(../images/visual_picture_on.png);
    /* background-image로 선언하면 이미지만 교체되고 위치나 반복값은 그대로 상속됨*/
}
footer{
    margin: 500px 0 0 0;
}