/* sub 페이지에서 호출하는 css
   sub페이지의 공통 스타일이 들어감*/
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
@import url(contents.css);

@media screen and (min-width:1025px){
    .header .gnb ul.depth1 > li.active > a {
        color: var(--color-sub3);
    }
    .header .gnb ul.depth1 > li.active:has(ul.depth2) > a > span::after{
        background-image: var(--icon-arrow-sub3);
    }
    .header.fixd .gnb ul.depth1 > li.active > a{
        color: var(--color-main);
    }
    .header.fixd .gnb ul.depth1 > li.active:has(ul.depth2) > a > span::after{
        background-image: var(--icon-arrow-main);
    }
    .header .gnb ul.depth1 > li.active > ul.depth2 > li.active > a{
        text-decoration: underline;
    }
    .header .sitemap .sitemap_wrap ul.depth1 > li.active > button,
    .header .sitemap .sitemap_wrap ul.depth1 > li.active > a {
        color: var(--color-sub3);
    }
    .header .sitemap .sitemap_wrap ul.depth1 > li.active:has(ul.depth2) > button::after{
        transform: rotate(270deg);
     }
     .header .sitemap .sitemap_wrap ul.depth1 > li.active > ul.depth2 > li.active > a{
        color: var(--color-sub3);
     }

}
@media screen and (max-width:1024px){
    .header .sitemap .sitemap_wrap ul.depth1 > li.active    :has(ul.depth2) > button::after{
        transform: rotate(270deg);
        
    }
    .header .sitemap .sitemap_wrap ul.depth1 > li.active > ul.depth2 > li.active > a{
        font-weight: var(--font-weight-bold);
        text-decoration: underline;
    }
}

.sub_visval {
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
    color: #fff;
}

.sub_visval.bg2 {
    background-image: url(../images/sub/sub_visual02.jpg);
}

.sub_visval.bg3 {
    background-image: url(../images/sub/sub_visual03.jpg);
}

.sub_visval.bg4 {
    background-image: url(../images/sub/sub_visual04.jpg);
}

.sub_visval.bg5 {
    background-image: url(../images/sub/sub_visual05.jpg);
}

.sub_visval .wrapper {
    position: relative;
    height: clamp(336px, 40vw, 400px);
}

.sub_visval .breadcrumb {
    padding: 177px 0 16px 0;
}

.sub_visval .breadcrumb ol {
    display: flex;
    /*li 좌우*/
    justify-content: center;
    align-items: center;
    gap: 0 1.41em;
}

.sub_visval .breadcrumb ol li {
    position: relative;
    /* after 정렬의 기준*/
}

.sub_visval .breadcrumb ol li::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 5px;
    width: 0.53em;
    height: 1em;
    background-image: var(--icon-arrow-w);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.sub_visval .breadcrumb ol li.home::before {
    display: none;
}

.sub_visval .breadcrumb ol li.home a {
    display: block;
    width: 0.94em;
    height: 1em;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15.5V6.5C0 6.18333 0.0708333 5.88333 0.2125 5.6C0.354167 5.31667 0.55 5.08333 0.8 4.9L6.8 0.4C7.15 0.133333 7.55 0 8 0C8.45 0 8.85 0.133333 9.2 0.4L15.2 4.9C15.45 5.08333 15.6458 5.31667 15.7875 5.6C15.9292 5.88333 16 6.18333 16 6.5V15.5C16 16.05 15.8042 16.5208 15.4125 16.9125C15.0208 17.3042 14.55 17.5 14 17.5H11C10.7167 17.5 10.4792 17.4042 10.2875 17.2125C10.0958 17.0208 10 16.7833 10 16.5V11.5C10 11.2167 9.90417 10.9792 9.7125 10.7875C9.52083 10.5958 9.28333 10.5 9 10.5H7C6.71667 10.5 6.47917 10.5958 6.2875 10.7875C6.09583 10.9792 6 11.2167 6 11.5V16.5C6 16.7833 5.90417 17.0208 5.7125 17.2125C5.52083 17.4042 5.28333 17.5 5 17.5H2C1.45 17.5 0.979167 17.3042 0.5875 16.9125C0.195833 16.5208 0 16.05 0 15.5Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
}

.sub_visval .sub_tit {
    text-align: center;
    font-size: clamp(32px, 5vw, 50px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}

.sub_visval .snb {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    width: 100%;
    height: var(--snb-h);
    background-color: var(--color-main);
    border-radius: 40px;
}


.sub_visval .snb ul {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    /* 위아래 스크롤 바는 숨김 */
    overflow-x: auto;
}

.sub_visval ul::-webkit-scrollbar {
    /* 스크롤바의 영역 */
    display: none;
}

.sub_visval .snb ul li a {
    display: block;
    line-height: var(--snb-h);
    font-size: clamp(16px, 2.2vw, 22px);
    font-weight: var(--font-weight-bold);
    padding: 0 1em;
}

.sub_visval .snb ul li a span {
    position: relative;
    font-size: 24px;
    
}

.sub_visval .snb ul li.active a {
    color: var(--color-sub3);
}

.sub_visval .snb ul li.active a span::before {
    content: "";
    position: absolute;
    left: -14px;
    top: -5px;
    width: 9px;
    height: 9px;
    background-color: var(--color-sub3);
    border-radius: 50%;
}

.page_tit h1 {
    margin: clamp(70px, 12.5vw, 125px) 0 clamp(56px, 9.7vw, 97px) 0;
    text-align: center;
    font-size: clamp(32px, 4vw, 40px);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit)
}

.contents {
    min-height: 300px;
}

@media screen and (max-width:768px) {
    .sub_visval .snb {
        border-radius: 0;
        left: calc(var(--wrapper-margin) * -1);
        width: calc(100% + var(--wrapper-margin) * 2);
    }
    .sub_visval .snb ul {
        justify-content: flex-start;
        padding: 0 var(--wrapper-margin);
    }
}