@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    width: 1920px;
    height: 693px;
    background-color: #1E1E1E;
}
.header .wrapper h1{
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    padding: 150px 0 0 520px;
    
}
.header .wrapper p{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding: 0 0 80px 520px;
}

.list ul li{
    display: flex;
    justify-content: space-between;
}
.list ul li a{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 404px;
    height: 300px;
    background: url(../images/furn01.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.list ul li.furn02 a{
    background-image: url(../images/furn02.jpg);
}
.list ul li.furn03 a{
    background-image: url(../images/furn03.jpg);
}

.list ul li a h2{
    color: #fff;
    margin: 84px 0 0 0;
}
.list ul li a p{
    margin: 0 0 148px 0;
}
